<div class="row">
  <div class="side">
    <div class="background-custom">
      <section class="part-side">
        <div class="container-title-standard">
          <img src="./../../../../assets/relevants/Logo EVAMED Final/Logo EVAMED Final/logo_white.png" class="img-logo" />
        </div>
        <div class="context-evamed">
          <div class="title-context-login">
            Bienvenido
          </div>
          <div class="text-context">
            <strong>EVAEMED</strong> es una herramienta para ayudar a los actores interesados en el sector de la
edificación, a tomar decisiones desde las primeras fases de diseño, para lograr edificios
con un menor impacto ambiental durante todo su ciclo de vida <a (click)="about()">Leer más</a>.
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="main">
    <section class="form-login">
      <form [formGroup]="form" (ngSubmit)="recovery($event)">
        <div class="container-label-input">
          <div class="title-context-login">
            Recuperar contraseña
          </div>
          <div class="description-context-login">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam"
          </div>
          <div class="label-context-login">
            Correo electrónico
          </div>
          <div>
            <input
              class="input-context-login"
              placeholder="Coloca aquí tu correo electrónico"
              formControlName="email"
              matInput 
              type="email"
            >
          </div>
        </div>
        <div class="container-label-button">
          <button
            [disabled]="form.invalid"
            mat-raised-button
            type="submit"
            class="yellow-button-login"
          >
            Enviar contraseña
          </button>
        </div>
        <div class="container-label-button">
          <p class="p-context-login">
            ¿Aún no tienes cuenta?
          </p>
        </div>
        <div class="container-label-button-second">
          <a href="/auth/register" class="redirect-get-password">Regístrate aquí</a>
        </div>
      </form>
      <div class="logos-ibero">
        <div class="middle-message">
          Prolongación paseo de la reforma No. 880 <br />
          Col. Lomas Altas, Del. Álvaro Obregón
        </div>
        <div class="phone">
          +(55)5950-4000 Ext. 7736
        </div>
        <div class="cr">
          
          evamed@ibero.mx
        </div>
        <div class="ap">
          Aviso de privacidad <br/>
          Términos y condiciones
        </div>
      </div>
    </section>
  </div>
</div>
