<div class="row">
  <div class="side">
    <div class="background-custom">
      <section class="part-side">
        <div class="container-title-standard">
          <img src="assets/images/Logo.png" class="img-logo"/>
        </div>
        <div class="context-evamed">
          <div class="title-context-login">
            Bienvenido
          </div>
          <div class="text-context">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="main">
    <section class="form-login">
      <form [formGroup]="form" (ngSubmit)="recovery($event)">
        <div class="container-label-input">
          <div class="title-context-login">
            Recuperar contraseña
          </div>
          <div class="description-context-login">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam"
          </div>
          <div class="label-context-login">
            Correo electrónico
          </div>
          <div>
            <input
              class="input-context-login"
              placeholder="Coloca aquí tu correo electrónico"
              formControlName="email"
              matInput 
              type="email"
            >
          </div>
        </div>
        <div class="container-label-button">
          <button
            [disabled]="form.invalid"
            mat-raised-button
            type="submit"
            class="yellow-button-login"
          >
            Enviar contraseña
          </button>
        </div>
        <div class="container-label-button">
          <p class="p-context-login">
            ¿Aún no tienes cuenta?
          </p>
        </div>
        <div class="container-label-button-second">
          <a href="/auth/register" class="redirect-get-password">Regístrate aquí</a>
        </div>
      </form>
      <div class="logos-ibero">
        <div class="middle-message">
          Prolongación paseo de la reforma No. 880 <br />
          Col. Lomas Altas, Del. Álvaro Obregón
        </div>
        <div class="phone">
          +(55)5950-4000 Ext. 7736
        </div>
        <div class="cr">
          
          evamed@ibero.mx
        </div>
        <div class="ap">
          Aviso de privacidad <br/>
          Términos y condiciones
        </div>
      </div>
    </section>
  </div>
</div>
