<mat-toolbar class='header-app'>
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <div class="container-title">
        <div class="title-header">
          EVAMED
        </div>
        <div class="subtitle-header">
          Evaluación ambiental <br>de edificios
        </div>
      </div>
      <div class="container-icons">
        <div class="container-icon">
          <div class="icon-bosquejo"></div>
          <div class="title-icon">
            Tus proyectos
          </div>
        </div>
        <div class="container-icon">
          <div class="icon-acerca-de"></div>
          <div class="title-icon">
            Acerca de
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
