.header-row {
  width: 100%;
}

.mat-toolbar-multiple-rows {
  justify-content: center!important;
  flex-direction: inherit!important;
}

mat-toolbar.mat-toolbar.header-app.mat-toolbar-multiple-rows {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029 !important;
  margin-bottom: 14px;
}

.mat-toolbar-row {
  width: 900px !important;
}

.container-title {
  display: flex;

  .title-header {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    letter-spacing: 0px;
    color: #A8D024;
    margin-top: auto;
  }

  .subtitle-header {
    font-size: 14px;
    text-align: left;
    letter-spacing: 0px;
    color: #767676;
    line-height: 90%;
    margin-left: 8px;
    margin-top: 4px;
  }
}

.container-icons {
  display: flex;
}

.container-icon {
  display: block;
  text-align: -webkit-center;
  width: 120px;
  height: 54px;
  padding-top: 10px;
  cursor: pointer;

  &:hover {
    background-color: #FDE47B;

    .title-icon {
      font-weight: bold;
    }
  }

  .icon-bosquejo {
    background: url('./../../../../assets/icons/bosquejo.svg');
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    display: block;
  }

  .icon-comparar {
    background: url('./../../../../assets/icons/comparar.svg');
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    display: block;
  }

  .icon-acerca-de {
    background: url('./../../../../assets/icons/informacion.svg');
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    display: block;
  }

  .title-icon {
    font-size: 12px;
    text-align: center;
    color: #767676;
  }
}

