.title-standard-second-light {
  width: 100% !important;
  text-align: center;
  margin-bottom: 70px;
}

.mat-dialog-content.dialog-content {
  margin-top: -24px;
  display: block!important;
  text-align: center!important;
}

h3.title-common {
  font-size: 18px;
  font-weight: 300;
}

mat-radio-group.mat-radio-group.example-radio-group {
  display: flex;
  justify-content: space-around;
  background-color: #A8D024;
  font-size: 22px;
  color: #fff;
  margin-right: -24px;
  margin-left: -24px;
}

mat-radio-button {
  padding: 14px!important;
  /* color: palegoldenrod; */
}

.mat-radio-checked {
  background-color: #FFF;
  color: #EDC903;
}

.text-description {
  width: 50%;
  margin-left: 25%;
  margin-top: 16px;
  margin-bottom: 18px;
  text-align: left;
  font-size: 12px;
}

/* Simple setup for this demo */

.mdl-card {
  width: 100%;
  min-height: 0;
  margin: 10px auto;
}

.mdl-card__supporting-text {
  width: 100%;
  padding: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
  width: 25%;
  /* 100 / no_of_steps */
}


/* Begin actual mdl-stepper css styles */

.mdl-stepper-horizontal-alternative {
  display: table;
  width: 100%;
  margin-top: -26px!important;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
  display: table-cell;
  position: relative;
  padding: 24px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
  border-radius: 15% / 75%;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child .mdl-stepper-bar-right {
  display: none;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-circle {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-color: #9E9E9E;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  font-size: 12px;
  color: white;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-circle-noSelected {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-color: #9E9E9E;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  font-size: 12px;
  color: white;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title {
  margin-top: 4px;
  font-size: 14px;
  font-weight: normal;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
  text-align: center;
  color: #000;
  width: 140px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
  font-size: 10px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
  position: absolute;
  top: 60px;
  height: 1px;
  border-top: 1px solid #BDBDBD;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
  right: 0;
  left: 50%;
  margin-left: 35px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left {
  left: 0;
  right: 50%;
  margin-right: 35px;
}

/**Custom stepper**/
div.step-one-selected div.mdl-stepper-circle {
  background: url('./../../assets/images/Etapas/Produccion.png') no-repeat 50% 50%;
  width: 70px!important;
  height: 70px!important;
}

div.step-one-selected div.mdl-stepper-circle-noSelected {
  background: url('./../../assets/images/Etapas/Produccion_.png') no-repeat 50% 50%;
  width: 70px!important;
  height: 70px!important;
}


div.step-two div.mdl-stepper-circle-noSelected {
  background-color: #CBCBCB !important;
  background: url('./../../assets/images/Etapas/Construcción_.png') no-repeat 50% 50%;
  width: 70px!important;
  height: 70px!important;
}

div.step-two div.mdl-stepper-circle {
  background-color: #CBCBCB !important;
  background: url('./../../assets/images/Etapas/Construcción.png') no-repeat 50% 50%;
  width: 70px!important;
  height: 70px!important;
}

div.step-three div.mdl-stepper-circle-noSelected {
  background-color: #CBCBCB !important;
  background: url('./../../assets/images/Etapas/Uso_.png') no-repeat 50% 50%;
  width: 70px!important;
  height: 70px!important;
}

div.step-three div.mdl-stepper-circle {
  background-color: #CBCBCB !important;
  background: url('./../../assets/images/Etapas/Uso.png') no-repeat 50% 50%;
  width: 70px!important;
  height: 70px!important;
}

div.step-four div.mdl-stepper-circle-noSelected {
  background-color: #CBCBCB !important;
  background: url('./../../assets/images/Etapas/fin.png') no-repeat 50% 50%;
  width: 70px!important;
  height: 70px!important;
}


div.step-four div.mdl-stepper-circle {
  background-color: #CBCBCB !important;
  background: url('./../../assets/images/Etapas/Fin_.png') no-repeat 50% 50%;
  width: 70px!important;
  height: 70px!important;
}


/**Content Table**/
table.table-container {
  width: 160px;
}

td.td-title {
  display: block;
}

td.td-text {
  text-align: left;
  padding-left: 2px!important;
}


.title-type-project {
  color: #767676 !important;
}

.title-type-project-selected {
  color: #EDC903 !important;
}

.text-type-project-selected {
  color: #343434 !important;
}

.text-type-project {
  color: #767676 !important;
}