<div class="principal-container container-total">
  <nav class="nav-steps">
    <div class="header-tag">
      <h1>{{nameProject}}</h1>
      <a href="/" class="a-redirect"> < Regresar a tus proyectos </a>
    </div>
  </nav>
  <div class="space-row"></div>
  <section class="container-actions">
    <section class="container-download">
      <div class="container-elements">
        <h2 class="left">1. Descarga de archivo</h2>
        <p class="p-instrucciones">
          Descarga el complemento de REVIT
          para exportar materiales
        </p>
        <div class="icon-download" (click)="onDownload()">
          <h3 class="title-action">Descargar archivo</h3>
        </div>
      </div>
      <div class="container-elements">
        <h2 class="hidden">1. Descarga de archivo</h2>
        <p class="p-instrucciones">
          Descarga el template de excel para
          registrar materiales
        </p>
        <div class="icon-download" (click)="onDownload()">
          <h3 class="title-action">Descargar archivo</h3>
        </div>
      </div>
    </section>
    <section class="container-upload">
      <div class="container-elements">
        <h2>2. Carga de archivo</h2>
        <p class="p-instrucciones">
          Carga tu archivo de materiales en el formato excel dividido
          por sistemas constructivos.
        </p>
        <input type="file" id="file" (change)="onFileChange($event)" multiple="false" class="input-upload" />
        <label for="file" class="title-action">Subir archivo</label>
      </div>
    </section>
  </section>
  <div class="space-row"></div>
</div>

<!--Section continue-->
<div class="section-continue">
  <button
    mat-button
    class="yellow-button"
    (click)="saveFile()"
  > 
    Continuar 
  </button>
</div>
