<div class="principal-container container-total">
  <nav class="nav-steps">
    <div class="header-tag">
      <h1>{{nameProject}}</h1>
      <a href="/" class="a-redirect"> < Regresar a tus proyectos </a>
    </div>
  </nav>
  <div class="space-row"></div>
  <section class="container-actions">

    <section class="container-download">
      <h2>1. Elige una opción para registrar materiales de construcción</h2>
      <div class="elements-to-download">
        <div class="container-elements">
          <h3>Registro automático desde REVIT</h3>
          <p class="p-instrucciones">
            Descarga el complemento para exportar los materiales desde el modelo 3D de REVIT
          </p>
          <div class="icon-download" (click)="onDownload()">
            <h3 class="title-action">Descargar archivo</h3>
          </div>
        </div>
        <div class="container-elements">
          <h3>Registro manual en Excel</h3>
          <p class="p-instrucciones">
            Descarga el template de excel para
            capturar materiales manualmente
          </p>
          <div class="icon-download" (click)="onDownload()">
            <h3 class="title-action">Descargar archivo</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="container-upload">
      <h2>2. Carga de materiales de construcción</h2>
      <div class="elements-to-download">
        <div class="container-elements">
          <p class="p-instrucciones">
            Carga tu archivo de materiales en el formato excel dividido
            por sistemas constructivos.
          </p>
          <div class="container-upload-icon">
            <input type="file" id="file" (change)="onFileChange($event)" multiple="false" class="input-upload" />
            <label for="file" class="title-action">Subir archivo</label>
          </div>
        </div>
      </div>
    </section>
  </section>
  <div class="space-row"></div>
</div>

<!--Section continue-->
<div class="section-continue">
  <button
    mat-button
    class="yellow-button"
    (click)="saveFile()"
  > 
    Continuar 
  </button>
</div>
