<div class="header-modal">
  <h1 mat-dialog-title class="title-standard-second-light">
    Nuevo proyecto
  </h1>
  <a (click)="onNoClick()" class="close-modal">
    X
  </a>
</div>
<div mat-dialog-content>
  <div class="Row">
    <div class="Col">
      <div class="label-general">
        Nombre del proyecto
      </div>
      <div>
        <mat-form-field>
          <input
            class="input-general"
            [(ngModel)]="data.nombre"
            matInput 
            type="text"
          >
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="Row">
    <div class="Col">
      <div class="label-general">
        Uso
      </div>
      <div>
        <mat-form-field appearance="outline" class="select-general">
          <mat-label>Seleccione una opción</mat-label>
          <mat-select [(ngModel)]="data.usoSeleccionado">
            <mat-option *ngFor="let uso of data.catalogoUsos" [value]="uso.id">
              {{uso.name_use}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="Col" *ngIf="data.usoSeleccionado === 1">
      <div class="label-general">
        Tipo
      </div>
      <div>
        <mat-form-field appearance="outline" class="select-general">
          <mat-label>Seleccione una opción</mat-label>
          <mat-select [(ngModel)]="data.tipoSeleccionado">
            <mat-option *ngFor="let tipo of data.catalogoTipo" [value]="tipo.id">
              {{tipo.name_type_project}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="Row">
    <div class="Col">
      <div class="label-general">
        País
      </div>
      <div>
        <mat-form-field appearance="outline" class="select-general">
          <mat-label>Seleccione una opción</mat-label>
          <mat-select [(ngModel)]="data.paisSeleccionado">
            <mat-option *ngFor="let pais of data.catalogoPaises" [value]="pais.id">
              {{pais.name_country}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="Col" *ngIf="data.tipoSeleccionado === 5">
      <div class="label-general">
        Esquema habitacional
      </div>
      <div>
        <mat-form-field appearance="outline" class="select-general">
          <mat-label>Seleccione una opción</mat-label>
          <mat-select [(ngModel)]="data.esqHabitacionalSeleccionado">
            <mat-option *ngFor="let esquema of data.catalogoEsqHabitacional" [value]="esquema.id">
              {{esquema.name_housing_scheme}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="Row" *ngIf="data.paisSeleccionado === 1">
    <div class="Col">
      <div class="label-general">
        Estado
      </div>
      <div>
        <mat-form-field appearance="outline" class="select-general">
          <mat-label>Seleccione una opción</mat-label>
          <mat-select [(ngModel)]="data.estadoSeleccionado" (selectionChange)="select(data.estadoSeleccionado)">
            <mat-option *ngFor="let estado of data.catalogoEstados" [value]="estado.id">
              {{estado.name_state}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="Col">
      <div class="label-general">
        Ciudad
      </div>
      <div>
        <mat-form-field appearance="outline" class="select-general">
          <mat-label>Seleccione una opción</mat-label>
          <mat-select [(ngModel)]="data.ciudadSeleccionada" >
            <mat-option *ngFor="let ciudad of catalogoCiudades" [value]="ciudad.id">
              {{ciudad.name_city}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="Row">
    <div class="Col">
      <div class="label-general">
        Superficie construida(metros cuadrados)
      </div>
      <div>
        <mat-form-field>
          <input
            class="input-general"
            placeholder="Coloca aquí el nombre del proyecto"
            [(ngModel)]="data.superficieConstruida"
            matInput 
            type="number"
          >
        </mat-form-field>
      </div>
    </div>
    <div class="Col">
      <div class="label-general">
        Superficie habitable(metros cuadrados)
      </div>
      <div>
        <mat-form-field>
          <input
            class="input-general"
            placeholder="Coloca aquí el nombre del proyecto"
            [(ngModel)]="data.superficieHabitable"
            matInput 
            type="number"
          >
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="Row">
    <div class="Col">
      <div class="label-general">
        No. de niveles
      </div>
      <div>
        <mat-form-field>
          <input
            class="input-general"
            placeholder="Coloca aquí el nombre del proyecto"
            [(ngModel)]="data.noNiveles"
            matInput 
            type="number"
          >
        </mat-form-field>
      </div>
    </div>
    <div class="Col">
      <div class="label-general">
        Vida útil
      </div>
      <div>
        <mat-form-field appearance="outline" class="select-general">
          <mat-label>Seleccione una opción</mat-label>
          <mat-select [(ngModel)]="data.vidaUtilSeleccionado">
            <mat-option *ngFor="let vidaUtil of data.catalogoVidaUtil" [value]="vidaUtil.id">
              {{vidaUtil.name_useful_life}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="center">
  <button
    mat-button
    [mat-dialog-close]="data"
    class="yellow-button"
  >
    Siguiente
  </button>
</div>
