.mat-card-content.content-estadisticas {
  display: flex;
  justify-content: center;
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 10px;
  border-top: 1px solid #cbcbcb;
}

.mat-card-content.content-estadisticas > div {
  padding: 14px;
}

.mat-card-content.content-estadisticas > div > div:first-child {
  font-weight: bold;
}

.container-principal {
  display: flex;
  justify-content: center;
  width: 98%;
  height: 100%;
  margin-top: 20px;

  .btn-primer-producto {
    padding-top: 18px;
    background-color: #ffffff;
    height: 60px;
    width: 150px;
    box-shadow: 0px 3px 6px #00000029;
    text-align: center;
    cursor: pointer;

    .plus {
      color: #a8d024;
      font-size: 26px;
      font-weight: bold;
    }

    .message-plus {
      color: #767676;
      font-size: 12px;
    }
  }
}

.user-card {
  margin-top: 24px;
  box-shadow: revert;
  border: 1px solid #cbcbcb;
  border-radius: 8px;
}

.card-project {
  margin: 10px 16px 16px 0;
  border: 1px solid #cbcbcb;
  border-radius: 8px !important;
  box-shadow: revert;
}

.second-mat-tab-group {
  background-color: #fff;
}

.grid-container {
  max-width: 980px;
  margin: auto;
  height: 300px;

  .subseccion {
    display: flex;
    align-items: center;
    padding-top: 60px;
  }

  .card-item-custom {
    display: inline-block;
    padding-left: 10px;
    width: 25%;
    margin: 15px;
    height: 145px;
    overflow: auto;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #cbcbcb;
    border-radius: 17px;

    &:hover {
      cursor: pointer;
      border: 1px solid #7fa20b;
    }

    h2 {
      font-size: 12px;
      font-weight: bold;
    }
    ul {
      li {
        font-size: 12px;
      }
    }
  }
}

mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
  font-size: 32px;
  margin-left: -20px;
  margin-top: -10px;
}

.header-tag {
  display: flex;
  position: absolute;
  width: 40%;
  z-index: 100;

  .container-tag {
    position: absolute;
    margin-left: 30px;

    .title-tag {
      font-size: 16px;
      font-weight: 600;
    }

    .date-tag {
      font-size: 12px;
      color: #767676;
    }
  }
}

.mat-tab-resultados {
  display: flex;

  > div {
    &:nth-child(1) {
      width: 245px;
      .boton-carbono{
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: 67px;
      }
      .boton-carbono-verde{
        background: #a8d024;
        box-shadow: 0px 2px 2px #00000027;
        border-radius: 5px;
        font-size: 15px;
        color: #ffffff;
        text-align: center;
        border: none;
        margin-left: 33px;
      }
      .botones-finales{
        display: flex;
        justify-content: space-between;
      }
    }
    &:nth-child(2) {
      width: 293px;
    }
    &:nth-child(3) {
      width: 231px;
    }
  }
}


.seccionTres {
  padding-left: 46px;
}

.graficas-huella-carbono{
  .titulo-carbono{
    font-size: 17px;
    margin: 5px;
  }
  .secciones{
    display: flex;
    > div {
      &:nth-child(1) {
        width: 239px;
        .texto-descripcion{
          font-size: 12px;
          margin: 5px;
          padding-top: 23px;
          padding-left: 25px;
          padding-right: 25px;
          text-align: justify;
        }
      }
      &:nth-child(2) {
        p{
          padding-left: 90px;
        }
      }
      &:nth-child(3) {
        padding-top: 1px;
        .flecha{
          height: 27px;
          width: 70px;
          display: inline-flex;
          color: white;
          margin: 8px;
          position: relative;
          align-items: center;
          padding-left: 11px;
          border-left: none;
        }
        .punta{
          position: absolute;
          width: 16px;
          margin-top: 12px;
          height: 18px;
          transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
          content: "";
        }
      }
      &:nth-child(4) {
        display: flex;
      }
    }
    .boton-carbono{
      background-color: transparent;
      border: none;
      width: 40px;
      margin: 10px;
      height: 40px;
    }
    .boton-carbono-verde{
      background: #a8d024;
      box-shadow: 0px 2px 2px #00000027;
      border-radius: 5px;
      font-size: 15px;
      color: #ffffff;
      text-align: center;
      border: none;
      height: 63px;
      margin: 15px;
      align-self: end;
    }
  }
}

p {
  font-size: 13px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 3px;
}
.select-impacto-ambiental {
  width: 221px;
  height: 37px;
  background: #ffffff;
  border-color: #cbcbcb;
  border-style: solid;
  border-radius: 10px;
  opacity: 1;
}

ul {
  list-style-type: none;
  margin-bottom: 11px;
  padding: 0;
}

.seccionUno {
  li {
    display: flex;
    padding-bottom: 5px;
  }

  .button-info {
    border-radius: 10px 0px 0px 10px;
    width: 201px;
    height: 48px;
    background: #efefef;
    border: 0px;
  }

  .button-info-select {
    border-radius: 10px 0px 0px 10px;
    width: 201px;
    height: 48px;
    background: #ffffff;
  }

  mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    color: #ffffff;
    font-size: 14px;
    border-radius: 0px 10px 10px 0px;
    height: 47px;
    margin-left: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.1px;
  }

  .button-icon {
    width: 19px;
    height: 48px;
    background: #efefef;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    padding: 1px;
  }

  .some-text {
    float: left;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 18px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #767676;
    opacity: 1;
  }
  .uno {
    background: #4dbe89;
  }

  .dos {
    background: #148a93;
  }

  .tres {
    background: #8f5091;
  }

  .cuatro {
    background: #dea961;
  }
}

.Detalle {
  background: #a8d024;
  box-shadow: 0px 2px 2px #00000027;
  border-radius: 5px;
  opacity: 1;
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}

.Detalle.ver {
  width: 115px;
  height: 37px;
}

.Detalle.reporte {
  width: 163px;
  height: 37px;
  margin: 30px;
}

.grafica {
  align-self: center;
}

.dot {
  height: 23px;
  width: 19px;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
  margin-right: 10px;
}

.text-subetapas {
  float: left;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: 18px;
  font-size: 10px;
  letter-spacing: 0px;
  color: #767676;
  opacity: 1;
}

.mostrar-subetapas {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  li {
    display: flex;
    padding-bottom: 5px;
  }
}

.button-graph {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-left: 40px;
  margin-right: 30px;

  mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    font-size: 20px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
  }
}
.botones-de-cambio {
  mat-button-toggle {
    width: 54px;
    height: 40px;
  }
}

.updateButton {
  display: none;
  margin-top: -10px;
  background-color: #edc903;
  font-size: 14px;
  color: #fff;
  &:hover {
    display: block;
  }
}

.listItems {
  &:hover + .updateButton {
    display: block;
  }
}

.mat-menu-item {
  height: 26px;
  border-bottom: 1px solid #ededed;
  line-height: 1px;
}
