<div class="principal-container">
  <div class="content-container">
    <div class="content-header-container">
      <div class="title-standard-second">
        Tus proyectos
      </div>
      <div class="filter-options">
        <mat-form-field appearance="outline" class="select-general">
          <mat-label>Seleccione una opción</mat-label>
          <mat-select [(ngModel)]="filtroUsoSeleccionado" (selectionChange)="selectUse(filtroUsoSeleccionado)">
            <mat-option *ngFor="let uso of filtroCatalogoUsos" [value]="uso.id">
              {{uso.name_use}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="container-principal" *ngIf="countProjectList === 0">
      <div class="btn-primer-producto" (click)="openDialogANP()">
        <div class="plus">+</div>
        <div class="message-plus">Crea tu primer proyecto</div>
      </div>
    </div>
    <mat-card *ngFor="let project of projectsList" class="card-project">
      <div class="header-tag">
        <div class="more-vert">
          <button 
            mat-icon-button 
            [matMenuTriggerFor]="menu" 
            aria-label="Example icon-button with a menu"
          >
            <mat-icon class="more-vert-custom">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Hacer copia</span>
            </button>
            <button mat-menu-item>
              <span>Duplicar</span>
            </button>
            <button mat-menu-item>
              <span>Renombrar</span>
            </button>
            <button mat-menu-item (click)="deleteProject(project.id)">
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </div>
        <div class="container-tag">
          <div class="title-tag">
            {{project.name_project}}
          </div>
          <div class="date-tag">
            Noviembre 2019
          </div>
        </div>
      </div>
      <mat-tab-group class="container-principal-tab">
        <mat-tab label="Configurar información" class="label-principal-tab">
          <div class="second-mat-tab-group">
            <mat-tab-group class="container-second-tab">
              <mat-tab label="Producción" class="label-second-tab">
                <section class="grid-container">
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                    <button
                      mat-button
                      class="yellow-button"
                      (click)="updateMaterial(project.id)"
                    > 
                      Editar
                    </button>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                </section>
              </mat-tab>
              <mat-tab label="Construcción" class="label-second-tab">
                <section class="grid-container">
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                    <button
                      mat-button
                      class="yellow-button"
                      (click)="updateConstruction(project.id)"
                    > 
                      Editar
                    </button>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                </section>
              </mat-tab>
              <mat-tab label="Uso" class="label-second-tab">
                <section class="grid-container">
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                    <button
                      mat-button
                      class="yellow-button"
                      (click)="updateUso(project.id)"
                    > 
                      Editar
                    </button>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                </section>
              </mat-tab>
              <mat-tab label="Fin de vida" class="label-second-tab">
                <section class="grid-container">
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                  <mat-card class="card-item-custom">
                    <h2>Cimentación</h2>
                    <ul>
                      <li>Zapata aislada</li>
                      <li>Zapata corrida</li>
                      <li>Zapata aislada 2</li>
                    </ul>
                  </mat-card>
                </section>
              </mat-tab>
            </mat-tab-group>
          </div>
        </mat-tab>
        <mat-tab label="Resultados" class="label-principal-tab">
          <div class="mat-tab-resultados">
            <div>
              <div class="seccionUno">

                <p>Selecciona impacto ambiental</p>
                <select>
                  <option value="val1">Calentamiento global</option>
                  <option value="val1">Op2</option>
                  <option value="val1">Op3</option>
                </select>
                <p>Fases de ciclo de vida</p>
                <ul>
                   <li> <button mat-stroked-button>
                     <div class="some-text">
                     <a>Materiales</a><a>18% / 1,000 co2</a></div>
                     <mat-icon class="uno">visibility_off</mat-icon></button>
                   </li>
                   <li> <button mat-stroked-button>
                     <div class="some-text">
                     <a>Construcción</a><a>20% / 1,000 co2</a></div>
                     <mat-icon class="dos">visibility_off</mat-icon></button> </li>
                   <li> <button mat-stroked-button>
                     <div class="some-text">
                     <a>Uso</a><a>31% / 1,000 co2</a></div>
                     <mat-icon class="tres">visibility_off</mat-icon></button> </li>
                   <li> <button mat-stroked-button>
                     <div class="some-text">
                     <a>Fin de vida</a><a>16% / 1,000 co2</a></div>
                     <mat-icon class="cuatro">visibility_off</mat-icon></button> </li>
                </ul>
              </div>
              <button mat-stroked-button class="Detalle"
              (click)="redirectResultados(project.id)"
              >Ver detalle</button>
            </div>
            <div>
              <div class="button-graph">
                <mat-button-toggle-group>
                     <mat-button-toggle><mat-icon>table_view</mat-icon></mat-button-toggle>
                     <mat-button-toggle><mat-icon>bar_chart</mat-icon></mat-button-toggle>
                   </mat-button-toggle-group>
                <button>Exportar</button>
              </div>
              <div>
                <!--<canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"></canvas>> -->
              </div>
            </div>
            <div>
              <button mat-stroked-button class="Detalle">Generar reporte</button>
              <p>Dispersión de impactos por subetapa</p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  <div class="description-container">
    <mat-card class="user-card">
      <mat-card-header class="image-container">
        <div mat-card-avatar class="profile-image"></div>
      </mat-card-header>
      <mat-card-content class="content-standard-card">
        <strong class="label-name">{{user}}</strong>
        <p class="label-profile">
          {{sector}}
        </p>
      </mat-card-content>
      <mat-card-content class="content-estadisticas">
        <div>
          <div>{{countProjectList}}</div>
          <div>Proyectos</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          class="yellow-button"
          (click)="openDialogANP()"
        > 
        Crear nuevo proyecto 
      </button>
      </mat-card-actions>
      <mat-card-actions class="content-logout-button">
        <button 
          mat-button 
          class="melon-button" 
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
