<div class="principal-container">
  <div class="content-container">
    <div class="content-header-container">
      <div class="title-standard-second">
        Tus proyectos
      </div>
      <div class="filter-options">
        <mat-form-field appearance="outline" class="select-general">
          <mat-label>Seleccione una opción</mat-label>
          <mat-select [(ngModel)]="filtroUsoSeleccionado" (selectionChange)="selectUse(filtroUsoSeleccionado)">
            <mat-option *ngFor="let uso of filtroCatalogoUsos" [value]="uso.id">
              {{uso.name_use}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="container-principal" *ngIf="countProjectList === 0">
      <div class="btn-primer-producto" (click)="openDialogANP()">
        <div class="plus">+</div>
        <div class="message-plus">Crea tu primer proyecto</div>
      </div>
    </div>
    <mat-card *ngFor="let project of projectsList; let i = index" class="card-project">
      <div class="header-tag">
        <div class="more-vert">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon class="more-vert-custom">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Duplicar</span>
            </button>
            <button mat-menu-item (click)="renameProject(project.id)">
              <span>Renombrar</span>
            </button>
            <button mat-menu-item (click)="deleteProject(project.id)">
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </div>
        <div class="container-tag">
          <div class="title-tag">
            {{project.name_project}}
          </div>
          <div class="date-tag">
            Noviembre 2019
          </div>
        </div>
      </div>
      <mat-tab-group class="container-principal-tab">
        <mat-tab label="Configurar información" class="label-principal-tab">
          <div class="second-mat-tab-group">
            <mat-tab-group class="container-second-tab">
              <mat-tab label="Producción" class="label-second-tab">
                <section class="grid-container"  >
                  <mat-card class="card-item-custom" *ngFor="let section of serchSections(project.id)">
                    <h2>{{section.name_section}}</h2>
                    <ul>
                      <li *ngFor="let sc of serchSC(project.id, section.id)">{{sc}}</li>
                    </ul>
                    <button
                      mat-button
                      class="yellow-button-mini"
                      (click)="updateMaterial(project.id)"
                    >
                      Editar
                    </button>
                  </mat-card>
                </section>
              </mat-tab>
              <mat-tab label="Construcción" class="label-second-tab">
                <section class="grid-container">
                  <mat-card class="card-item-custom" *ngFor="let section of serchConstructiveSection(project.id)">
                    <h2>{{section.name_section}}</h2>
                    <ul>
                      <li *ngFor="let sc of serchDetailConstruction(project.id, section.id)">
                        {{sc.source_information}} <br />
                        {{sc.quantity}} hrs
                      </li>
                    </ul>
                    <button
                      mat-button
                      class="yellow-button-mini"
                      (click)="updateConstruction(project.id)"
                    >
                      Editar
                    </button>
                  </mat-card>
                </section>
              </mat-tab>
              <mat-tab label="Uso" class="label-second-tab">
                <section class="grid-container">
                  <h2>Consumo energético total requerido anualmente</h2>
                  <div *ngFor="let data of serchUseData(project.id)">
                    <div *ngIf="data.source === 'electric'">Mix eléctrico {{data.quantity}} Kwh</div>
                    <div *ngIf="data.source === 'fuel'">Combustible: {{data.quantity}} Kwh</div>
                    <div *ngIf="data.source === 'panels'">Combustible: {{data.quantity}} Kwh</div>
                  </div>
                  <button
                      mat-button
                      class="yellow-button-mini"
                      (click)="updateUso(project.id)"
                    >
                      Editar
                    </button>
                </section>
              </mat-tab>
              <mat-tab label="Fin de vida" class="label-second-tab">
                <section class="grid-container">
                  <mat-card class="card-item-custom" *ngFor="let section of serchEndLifeSection(project.id)">
                    <h2>{{section.name_section}}</h2>

                    <button
                      mat-button
                      class="yellow-button-mini"
                      (click)="updateConstruction(project.id)"
                    >
                      Editar
                    </button>
                  </mat-card>
                </section>
              </mat-tab>
            </mat-tab-group>
          </div>
        </mat-tab>
        <mat-tab label="Resultados" class="label-principal-tab">
          <div class="mat-tab-resultados">
            <div>
              <div class="seccionUno">
                <p>Selecciona impacto ambiental</p>
                <mat-select class="select-impacto-ambiental" [(ngModel)]="auxDataProjectList[i].impactoSelect" (selectionChange)="selectImpactoAmbiental(auxDataProjectList[i].impactoSelect,i)" required>
                  <mat-option *ngFor="let impacto of catologoImpactoAmbiental" [value]="impacto.name_complete_potential_type">
                    {{impacto.name_complete_potential_type}}
                  </mat-option>
                </mat-select>
                <p>{{auxDataProjectList[i].impactoSelect}}</p>
                <p>Fases de ciclo de vida</p>
                <ul>
                   <li> <button (click)="selectEtapa('Producción',i)" mat-stroked-button class="button-info">
                      <div class="some-text">
                      <a>Materiales</a>
                      <a> {{auxDataProjectList[i].porcentaje[auxDataProjectList[i].impactoSelect]['Producción']['porcentaje']}}%
                         / {{auxDataProjectList[i].porcentaje[auxDataProjectList[i].impactoSelect]['Producción']['num']}}
                          {{auxDataProjectList[i].unit_impacto}}</a></div>
                      </button>
                      <button class='button-icon' (click)="eliminarEtapa('Producción',i)">
                        <mat-icon class="uno">visibility_off</mat-icon>
                      </button>
                   </li>
                   <li> <button (click)="selectEtapa('Construccion',i)" mat-stroked-button class="button-info">
                      <div class="some-text">
                      <a>Construcción</a>
                      <a> {{auxDataProjectList[i].porcentaje[auxDataProjectList[i].impactoSelect]['Construccion']['porcentaje']}}%
                        / {{auxDataProjectList[i].porcentaje[auxDataProjectList[i].impactoSelect]['Construccion']['num']}}
                        {{auxDataProjectList[i].unit_impacto}}</a></div>
                      </button>
                      <button class='button-icon' (click)="eliminarEtapa('Construccion',i)">
                        <mat-icon class="dos">visibility_off</mat-icon>
                      </button>
                    </li>
                   <li> <button (click)="selectEtapa('Uso',i)" mat-stroked-button class="button-info">
                      <div class="some-text">
                      <a>Uso</a>
                      <a> {{auxDataProjectList[i].porcentaje[auxDataProjectList[i].impactoSelect]['Uso']['porcentaje']}}%
                        / {{auxDataProjectList[i].porcentaje[auxDataProjectList[i].impactoSelect]['Uso']['num']}}
                        {{auxDataProjectList[i].unit_impacto}}</a></div>
                      </button>
                      <button class='button-icon' (click)="eliminarEtapa('Uso',i)">
                        <mat-icon class="tres">visibility_off</mat-icon>
                      </button>
                    </li>
                   <li> <button (click)="selectEtapa('FinDeVida',i)" mat-stroked-button class="button-info">
                      <div class="some-text">
                      <a>Fin de vida</a>
                      <a> {{auxDataProjectList[i].porcentaje[auxDataProjectList[i].impactoSelect]['FinDeVida']['porcentaje']}}%
                        / {{auxDataProjectList[i].porcentaje[auxDataProjectList[i].impactoSelect]['FinDeVida']['num']}}
                        {{auxDataProjectList[i].unit_impacto}}</a></div>
                      </button>
                      <button class='button-icon' (click)="eliminarEtapa('FinDeVida',i)">
                        <mat-icon class="cuatro">visibility_off</mat-icon>
                      </button>
                    </li>
                </ul>
              </div>
              <button mat-stroked-button class="Detalle ver"
              (click)="redirectResultados(project.id)"
              >Ver detalle</button>
            </div>
            <div>
              <div class="button-graph">
                <mat-button-toggle-group>
                     <mat-button-toggle><mat-icon>table_view</mat-icon></mat-button-toggle>
                     <mat-button-toggle><mat-icon>bar_chart</mat-icon></mat-button-toggle>
                   </mat-button-toggle-group>
                <button>Exportar</button>
              </div>
                <canvas #MyChart='base-chart' #canvas baseChart
                            [datasets]="auxDataProjectList[i].dataGraficaPie"
                            [chartType]="doughnutChartType"
                            [options]="pieChartOptions"
                            width="600px"></canvas>
            </div>
            <div>
              <button mat-stroked-button class="Detalle reporte">Generar reporte</button>
              <p>Dispersión de impactos por subetapa</p>
              <ul class="mostrar-subetapas">
                <li *ngFor = "let subetapa of auxDataProjectList[i].subetasMostrada">
                  <span class="dot" [ngStyle]="{'background-color': subetapa.color}"></span>
                  <div class="text-subetapas" *ngIf = "auxDataProjectList[i].banderaEtapa">
                    <a>{{subetapa.abreviacion}} - {{subetapa.nombre_subeatapa}}</a>
                    <a>{{auxDataProjectList[i].porcentajeSubepata[auxDataProjectList[i].impactoSelect][auxDataProjectList[i].etapaSeleccionada][subetapa.abreviacion]['porcentaje']}}% /
                      {{auxDataProjectList[i].porcentajeSubepata[auxDataProjectList[i].impactoSelect][auxDataProjectList[i].etapaSeleccionada][subetapa.abreviacion]['num']}}
                      {{auxDataProjectList[i].unit_impacto}}</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  <div class="description-container">
    <mat-card class="user-card">
      <mat-card-header class="image-container">
        <div mat-card-avatar class="profile-image"></div>
      </mat-card-header>
      <mat-card-content class="content-standard-card">
        <strong class="label-name">{{user}}</strong>
        <p class="label-profile">
          {{sector}}
        </p>
      </mat-card-content>
      <mat-card-content class="content-estadisticas">
        <div>
          <div>{{countProjectList}}</div>
          <div>Proyectos</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          class="yellow-button"
          (click)="openDialogANP()"
        >
        Crear nuevo proyecto
      </button>
      </mat-card-actions>
      <mat-card-actions class="content-logout-button">
        <button
          mat-button
          class="melon-button"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
