<h1>Administrador de potencial de transporte</h1>

<div>
  <button mat-button class="yellow-button" (click)="goToAddPotentialTransport()">
    Agregar potencial de transporte
  </button>
</div>

<table mat-table [dataSource]="potentialTransportList" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <ng-container matColumnDef="transport_id">
    <th mat-header-cell *matHeaderCellDef> Transporte </th>
    <td mat-cell *matCellDef="let element"> {{element.transport_id}} </td>
  </ng-container>

  <ng-container matColumnDef="potential_type_id">
    <th mat-header-cell *matHeaderCellDef> Tipo de potencial </th>
    <td mat-cell *matCellDef="let element"> {{element.potential_type_id}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> 
      <a 
        mat-raised-button 
        [routerLink]="['update', element.id]"
      >Editar
    </a>
      <button mat-raised-button color="warn" (click)="deletePotentialItem(element.id)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

