<nav class="nav-redirect">
  <h2 class="proyecto-title">{{nameProject}}</h2>
  <a href="/" class="a-redirect"> < Regresar a proyectos </a>
</nav>
<!--Principal container-->
<div class="principal-container container-total">
  <!--Navigation steps-->
  <nav class="nav-steps">
    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step step-one-selected">
        <div class="mdl-stepper-circle" (click)="goToMaterialStage()"></div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step step-two">
        <div class="mdl-stepper-circle" (click)="goToConstructionStage()"></div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step step-three">
        <div class="mdl-stepper-circle" (click)="goToUsageStage()"></div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step step-four">
        <div class="mdl-stepper-circle" (click)="goToEndLife()"></div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
    </div>
  </nav>
  <!--Container actions of step 2-->
  <section class="container-actions">
    <!--Section sheets-->
    <section class="container-sheets">
      <div class="tab-title-sections">
        <p>Elementos</p>
        <button
          mat-icon-button
          (click)="addElement()"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
      <div class="container-image" [ngSwitch]="selectedSheet">
        <img *ngSwitchCase="'Cimentación'" src="../../../../assets/map/2.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Muros interiores'" src="../../../../assets/map/8.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Muros exteriores'" src="../../../../assets/map/9.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Pisos'" src="../../../../assets/map/7.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Techos'" src="../../../../assets/map/5.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Entrepiso'" src="../../../../assets/map/7.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Estructura'" src="../../../../assets/map/11.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Puertas'" src="../../../../assets/map/6.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Ventanas'" src="../../../../assets/map/4.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Inst. especiales'" src="../../../../assets/map/13.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Otros'" src="../../../../assets/map/14.jpg" class="image-element" alt="" />
        <img *ngSwitchDefault src="../../../../assets/map/12.jpg" class="image-element" alt="" />
      </div>
      <div class="list-elements">
        <mat-selection-list
          #sheets
          [multiple]="false"
          (selectionChange)="onGroupsChange(sheets.selectedOptions.selected)"
        >
          <mat-list-option
            *ngFor="let sheet of sheetNames"
            [value]="sheet"
            class="item-yellow-extend"
          >
            {{sheet}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </section>
    
    <!--Section construction systems-->
    <section class="container-systems">
      <div class="tab-title-sections">
        <p>Seleccione el sistema constructivo base a aplicar</p>
        <button
          mat-icon-button
          (click)="addSC()"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
      <mat-accordion *ngIf="indexSheet!==undefined">
        <mat-expansion-panel
          (opened)="panelOpenFirst = true"
          (closed)="panelOpenFirst = false"
        >
          <!--List Revit or template-->
          <mat-expansion-panel-header>
            <mat-panel-title>
              Registrados en REVIT y/o Template EVAMED
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list
            #sistemas_constructivos
            [(ngModel)]="selectedOptionsRevit"
            (ngModelChange)="onNgModelChangeRevit($event)"
          >
            <mat-list-option
              *ngFor="let sc of ListSCRevit"
              [value]="sc"
              [disableRipple]="true"
              checkboxPosition="before" 
              class="item-list-option"
            >
            <div style="display:flex; justify-content:space-between;align-items:center">
              <div style="display:flex; align-items:center; width: 70%;" (click)="showMaterials($event, sc, 'revit-user')">
                <div style="display:flex; flex-direction:column" class="item-by-list">
                  {{sc}}
                </div>
              </div>
              <div>
                <button
                  class="custom-button-icon"
                  mat-icon-button
                  (click)="removeMaterial($event, sc, 'revit-user')"
                >
                  <mat-icon class="custom-icon">restore_from_trash</mat-icon>
                </button>
                <button
                  class="custom-button-icon"
                  mat-icon-button
                  (click)="restoreMaterial($event, sc, 'revit-user')"
                >
                  <mat-icon class="custom-icon">restore_page</mat-icon>
                </button>
                <button
                  class="custom-button-icon"
                  mat-icon-button
                  (click)="duplicateMaterial($event, sc, 'revit-user')"
                >
                  <mat-icon class="custom-icon">control_point_duplicate</mat-icon>
                </button>
              </div>
            </div>
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion *ngIf="indexSheet!==undefined">
        <mat-expansion-panel
          (opened)="panelOpenSecond = true"
          (closed)="panelOpenSecond = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Opciones EVAMED
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-selection-list
            #sistemas_constructivos
            [(ngModel)]="selectedOptionsDynamo"
            (ngModelChange)="onNgModelChangeDynamo($event)"
          >
            <mat-list-option
              *ngFor="let sc of ListSCDynamo"
              [value]="sc"
              [disableRipple]="true"
              checkboxPosition="before" 
            >
            <div style="display:flex; justify-content:space-between;align-items:center">
              <div style="display:flex; align-items:center; width: 70%;" (click)="showMaterials($event, sc, 'dynamo')">
                <div style="display:flex; flex-direction:column">
                  {{sc}}
                </div>
              </div>
              <div>
                <button
                  class="custom-button-icon"
                  mat-icon-button
                  (click)="removeMaterial($event, sc, 'dynamo')"
                >
                  <mat-icon class="custom-icon">restore_from_trash</mat-icon>
                </button>
                <button
                  class="custom-button-icon"
                  mat-icon-button
                  (click)="restoreMaterial($event, sc, 'dynamo')"
                >
                  <mat-icon class="custom-icon">restore_page</mat-icon>
                </button>
                <button
                  class="custom-button-icon"
                  mat-icon-button
                  (click)="duplicateMaterial($event, sc, 'dynamo')"
                >
                  <mat-icon class="custom-icon">control_point_duplicate</mat-icon>
                </button>
              </div>
            </div>
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion  *ngIf="indexSheet!==undefined">
        <mat-expansion-panel
          (opened)="panelOpenThird = true"
          (closed)="panelOpenThird = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Creados por el usuario
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list
            #sistemas_constructivos
            [(ngModel)]="selectedOptionsUsuario"
            (ngModelChange)="onNgModelChangeUser($event)"
          >
            <mat-list-option
              *ngFor="let sc of ListSCUsuario"
              [value]="sc"
              [disableRipple]="true"
              checkboxPosition="before" 
            >
            <div style="display:flex; justify-content:space-between;align-items:center">
              <div style="display:flex;align-items:center">
                <div style="display:flex; flex-direction:column">
                  {{sc}}
                </div>
              </div>
              <div>
                <button
                  mat-icon-button
                  (click)="showMaterials($event, sc, 'usuario-local')"
                >
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
            </div>
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <!--Materials section-->
    <section class="container-details" *ngIf="selectedMaterial===false && showSearch===false">
      <div class="tab-title-sections">
        <p>Materiales</p>
        <button
          mat-icon-button
          (click)="addElement()"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
      <mat-selection-list 
        #materials 
        [multiple]="false"
        (selectionChange)="onSelectedMaterial($event, materials.selectedOptions)"
      >
        <mat-list-option *ngFor="let material of listMateriales | keyvalue" [value]="material">
          <div class="table-materials"> 
            <div class="col-key">
              {{material.key}}.
            </div>
            <div class="col-material">
              {{material.value.Material}}
            </div>
            <div class="col-cantidad">
              {{material.value.Cantidad}}
            </div>
            <div class="col-unidad">
              {{material.value.Unidad}}
            </div>
            <div class="col-icon">
              <mat-icon class="custom-icon custom-error">check_circle</mat-icon>
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </section>
    <!--Form material-->
    <div class="container-details" *ngIf="selectedMaterial===true">
      <a class="return" (click)="onReturnListMaterials()"> < </a>
      <div class="form-update-material">
        <div class="Row">
          <div class="Col">
            <h3>Edición de material</h3>
          </div>
        </div>
        <div class="Row">
          <div class="Col">
            <div class="label-general">
              Nombre comercial
            </div>
            <div>
              <mat-form-field>
                <input
                  class="input-general-renuew"
                  [(ngModel)]="dataMaterialSelected.Material"
                  matInput 
                  type="text"
                >
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="Row">
          <div class="Col select-middle">
            <div class="label-general">
              Cantidad
            </div>
            <div>
              <mat-form-field>
                <input
                  class="input-general-renuew width-90"
                  [(ngModel)]="dataMaterialSelected.Cantidad"
                  matInput 
                  type="text"
                >
              </mat-form-field>
            </div>
          </div>
          <div class="Col select-middle">
            <div class="label-general">
              Unidad
            </div>
            <div>
              <mat-form-field>
                <input
                  class="input-general-renuew width-90"
                  [(ngModel)]="dataMaterialSelected.Unidad"
                  matInput 
                  type="text"
                >
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="Row">
          <div class="Col">
            <div class="label-general">
              Comentarios
            </div>
            <div>
              <mat-form-field>
                <input
                  class="input-general-renuew"
                  [(ngModel)]="dataMaterialSelected['Descripción de Material']"
                  matInput 
                  type="text"
                >
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="Row">
          <div class="Col">
            <h3>Transporte de fábrica a sitio de proyecto</h3>
          </div>
        </div>
        <div class="Row">
          <div class="Col select-middle">
            <div class="label-general">
              País
            </div>
            <div>
              <mat-form-field appearance="outline" class="select-general">
                <mat-label>Seleccione una opción</mat-label>
                <mat-select [(ngModel)]="dataMaterialSelected.paisSeleccionado">
                  <mat-option *ngFor="let pais of catalogoPaises" [value]="pais.id">
                    {{pais.name_country}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="Col select-middle">
            <div class="label-general">
              Tipo de transporte
            </div>
            <div>
            <!--Vehículo de carga comercial ligera (GLO)-Ecoinvent 3default de trnsportes!-->
            </div>
          </div>
        </div> 
        <div class="Row" *ngIf="dataMaterialSelected.paisSeleccionado === 1">
          <div class="Col select-middle">
            <div class="label-general">
              Estado
            </div>
            <div>
              <mat-form-field appearance="outline" class="select-general">
                <mat-label>Seleccione una opción</mat-label>
                <mat-select 
                  [(ngModel)]="dataMaterialSelected.estadoSeleccionado" 
                  (selectionChange)="selectState(dataMaterialSelected.estadoSeleccionado)" 
                >
                  <mat-option *ngFor="let estado of catalogoEstados" [value]="estado.id">
                    {{estado.name_state}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="Col select-middle">
            <div class="label-general">
              Ciudad
            </div>
            <div>
              <mat-form-field appearance="outline" class="select-general">
                <mat-label>Seleccione una opción</mat-label>
                <mat-select 
                  [(ngModel)]="dataMaterialSelected.ciudadSeleccionada"
                >
                  <mat-option *ngFor="let ciudad of catalogoCiudades" [value]="ciudad.id">
                    {{ciudad.name_city}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="Row">
          <div class="Col">
            <h3>Tiempo de vida</h3>
          </div>
        </div>
        <div class="Row">
          <div class="Col select-middle">
            <div class="label-general">
              Tiempo de vida
            </div>
            <div>
              <mat-form-field>
                <input
                  class="input-general-renuew width-90"
                  [(ngModel)]="dataMaterialSelected.vidaUtil"
                  (ngModelChange)="changeReplaces(dataMaterialSelected.vidaUtil)"
                  matInput 
                  type="text"
                >
              </mat-form-field>
            </div>
          </div>
          <div class="Col select-middle">
            <div class="label-general">
              Reemplazos
            </div>
            <div>
              <mat-form-field>
                <input
                  class="input-general-renuew width-90"
                  [(ngModel)]="dataMaterialSelected.reemplazos"
                  matInput 
                  (ngModelChange)="changeLifeTime(dataMaterialSelected.reemplazos)"
                  type="text"
                >
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="Row">
          <div class="Col">
            <h3>Fuente de información de impacto ambiental</h3>
          </div>
        </div>
        <div class="Row">
          <div class="Col">
            <button (click)="goToSearchInfo()">Buscar fuente</button>
          </div>
        </div>
      </div>
    </div>

    <!--Form search -->
    <div class="container-details" *ngIf="showSearch===true">
      <div class="form-search">
        <div class="Row">
          <div class="Col">
            <h3>Realiza tu búsqueda</h3>
          </div>
        </div>
        <div class="Row">
          <div class="Col">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input 
                  class="input-general-renuew"
                  type="text" 
                  matInput 
                  [formControl]="myControl" 
                  [matAutocomplete]="auto"
                  [(ngModel)]="dataMaterialSelected.materialDB"
                >
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name_material}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </div>
        </div>
        <div class="Row">
          <div class="Col">
            <mat-tab-group mat-align-tabs="start">
              <mat-tab label="EPD's">EPD's</mat-tab>
              <mat-tab label="Base de datos">Base de datos</mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<!--Section continue-->
<div class="section-continue">
  <button
    mat-button
    class="yellow-button custom-continue"
    (click)="saveStepOne()"
  > 
    Continuar 
  </button>
</div>