.graficas-especificas {
  display: grid;
  font-size: 12px;
  grid-template-columns: repeat(2, 386px);
  column-gap: 20px;
  row-gap: 10px;
  height: auto;
  mat-card{
    display:block;
  }
}

.mostrar-subetapas {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  li {
    display: flex;
    padding-bottom: 5px;
  }
  button{
    border: none;
    background: none;
  }
}

.dot {
  height: 20px;
  width: 19px;
  border-radius: 50%;
  display: inline-flex;
  margin-right: 10px;
}

.text-subetapas {
  float: left;
  text-align: left;
  font-size: 10px;
  letter-spacing: 0px;
  color: #767676;
  opacity: 1;
}

.tachar{
  text-decoration: line-through;
}

.quitartachado{
  text-decoration: none;
}

.graficas-especificas-seccionUno{
  display: grid;
  font-size: 12px;
  grid-template-columns: repeat(2, 386px);
  column-gap: 10px;
  row-gap: 10px;
  height: auto;
}
