.graficas-especificas {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  column-gap: 50px;
  row-gap: 50px;
  margin: 20px;
  mat-card{
    display:block;
  }
}

.graficas-especificas-seccionUno{
  display: grid;
  grid-template-columns: repeat(3, 350px);
  column-gap: 20px;
  row-gap: 50px;
  justify-items: stretch;
}
