<div class="graficas-especificas-seccionUno" *ngIf="showMePartially">
  <div style="display:block" *ngFor="let item of inputProyect;let i = index">
    <mat-card>
      <mat-card-header>
        {{item.Nombre}}<br>
        {{indicador}}
      </mat-card-header>
    </mat-card>
    <div class="canvas-container">
      <canvas #MyChart='base-chart' #canvas baseChart
        [datasets]="pieChartData[i]"
        [options]="pieChartOptions"
        [labels]="pieChartLabels[i]"
        [chartType]="pieChartType"
        width="50px" height="50px"></canvas>
    </div>
  </div>
</div>

<div class="graficas-especificas" *ngIf="showMe_elementos">
  <canvas #MyChart='base-chart' #canvas baseChart
    [datasets]="pieChartData[0]"
    [options]="pieChartOptions_elementos"
    (chartClick)='onChartClick($event)'
    [chartType]="pieChartType"></canvas>
</div>


