<div class="div-principal">
  <div class="sectionOne">
    <button mat-icon-button (click)="returnHome()">
      <mat-icon class="excepction">keyboard_arrow_left</mat-icon>
    </button>
    <a class="return-proyecto">regresar a proyectos</a>
    <br><a class="tittle-proyect">{{proyecto.nombre}}</a>
  </div>
  <p class="text-duplicados">Duplicados</p>
  <div class="div-proyectos-mostrados">
    <div>
      <button mat-button class="menu-proyectos" [matMenuTriggerFor]="menu">Selecciona una opción a visualizar
       <mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
          *ngFor="let item of proyect"
          (click)="iniciar_graficas(item.id)">
          <span>{{item.Nombre}}</span>
        </button>
      </mat-menu>
    </div>
    <div>
      <div *ngFor="let item of proyectosMostrados;let i = index" class="button-graph">
        <mat-card class="card">
          {{item.num}}
          <button mat-icon-button (click)="quitarProyecto(item.id)"><mat-icon>highlight_off</mat-icon></button>
          {{item.Nombre}}
        </mat-card>
      </div>
    </div>
  </div>
  <mat-card class="mat-master">
      <mat-tab-group mat-stretch-tabs class="container-principal-tab" (selectedIndexChange)="show($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            Impactos ambientales<br>por impactos del ciclo de vida
          </ng-template>
          <div class="div-impactos-ambientales">
            <p>Impactos ambientales</p>
            <div class="sub-container">
              <div>
                <mat-button-toggle-group>
                  <mat-button-toggle class="button-impactos" (click)="TablaResultados()"><mat-icon class="icons-options">table_view</mat-icon></mat-button-toggle>
                  <mat-button-toggle class="button-impactos" (click)="GraficasResultados()"><mat-icon class="icons-options">bar_chart</mat-icon></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div>
                <mat-button-toggle-group>
                  <mat-button-toggle [disabled]="botones_grafica_activos" class="button-impactos" (click)="porcentaje(true,1)">%</mat-button-toggle>
                  <mat-button-toggle [disabled]="botones_grafica_activos" class="button-impactos" (click)="porcentaje(false,1)">#</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div>
                <mat-button-toggle-group>
                  <mat-button-toggle class="button-impactos" (click) = "AjustePorMetro(1)"><mat-icon class="icons-options">border_all</mat-icon></mat-button-toggle>
                  <mat-button-toggle class="button-impactos" (click) = "AjustePorMetro(0)"><mat-icon class="icons-options">branding_watermark</mat-icon></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
          </div>
          <div class="campo-grafica-bar" >
            <ng-template #barContainer>

            </ng-template>
          </div>
          <div *ngIf="resultdosTabla" class="tabla">
            <table class="Tabla-Datos" mat-table [dataSource]="DatosTabla" multiTemplateDataRows>
              <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef class="tittle-table">
                  <span style="white-space: pre-line;">{{column}}</span>
                </th>
                <td mat-cell *matCellDef="let element" [style.color] = element.color>
                  <p>{{element.data[column]}}</p></td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"></tr>
            </table>
          </div>
          <div>
            <p class="secondary-text">Dispersión de Impacto ambiental por fase de ciclo de vida</p>
          </div>
          <div class="div-secondary-graph">
            <div>
              <p>Selecciona una fase del ciclo de vida</p>
              <ul>
                <li>
                  <button id="ProducciónOjo" (click)="ajusteDeGraficaFASE('Producción')" class="boton-icono">
                    <mat-icon class="uno">{{iconos['Producción']}}</mat-icon>
                  </button>
                  <button id="Producción" class="boton-principal" mat-stroked-button (click)="grafica('Producción')">
                  Producción</button>
                </li>
                <li>
                  <button id="ConstruccionOjo" (click)="ajusteDeGraficaFASE('Construccion')" class="boton-icono">
                    <mat-icon class="dos">{{iconos['Construccion']}}</mat-icon>
                  </button>
                  <button id="Construccion"class="boton-principal" mat-stroked-button (click)="grafica('Construccion')">
                  Construcción</button> </li>
                <li>
                  <button id="UsoOjo" (click)="ajusteDeGraficaFASE('Uso')" class="boton-icono">
                    <mat-icon class="tres">{{iconos['Uso']}}</mat-icon>
                  </button>
                  <button id="Uso" class="boton-principal" mat-stroked-button (click)="grafica('Uso')">
                  Uso</button> </li>
                <li>
                  <button id="FinDeVidaOjo" (click)="ajusteDeGraficaFASE('FinDeVida')" class="boton-icono">
                    <mat-icon class="cuatro">{{iconos['FinDeVida']}}</mat-icon>
                  </button>
                  <button id="FinDeVida" class="boton-principal" mat-stroked-button (click)="grafica('FinDeVida')">
                  Fin de vida</button> </li>
              </ul>
            </div>
            <div>
              <ng-template #GraficasEspecificas>

              </ng-template>
            </div>
            <div>
              <div  class="button-graph">
                <mat-card class="card datos">
                  Para el proyecto {{proyecto.nombre}} <br>
                  no se tomaron en cuenta {{proyecto.num_epic}} de materiales EPIC
                </mat-card>
              </div>
              <div *ngFor="let item of proyect;let i = index" class="button-graph">
                <mat-card *ngIf="item.card" class="card datos">
                  Para el proyecto {{item.Nombre}} <br>
                  no se tomaron en cuenta {{item.num_epic}} de materiales EPIC
                </mat-card>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Impactos ambientales<br>por elementos constructivos
          </ng-template>
          <div class="div-second-tab">
            <ng-template #barGraphDos>
            </ng-template>
            <p>
              Elementos constructivos
            </p>
            <div *ngFor="let item of botones_elementos_constructivos" class="botones-elementos-contructivos">
              <button (click)="graficabar(item.Nombre,item.nivel)">
                <mat-icon>visibility_off</mat-icon>{{item.Nombre}}</button>
            </div>
          </div>
          <div class="img-edificio" *ngFor="let item of outproyect_bar; let i = index">
            <a (click)="DispercionAP()">
              <p>{{item.Nombre}}</p>
              <p>Visuaización de GWP por sistema constructivo</p>
              <img src="../../../../assets/images/8.png">
            </a>
          </div>
          <div>
            <div *ngIf="show_Dispercion" class="last-div-section-two">
              <div>
                <p>Disperción AP por materiales de Cimentación </p>
              </div>
              <div>
                <p>Materiales</p>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Elementos constructivos<br>por etapas del ciclo de vida
          </ng-template>
          <!--<div *ngIf="Elementos_constructivos">



              <div class="div-elementos-constructivos">
                <div>
                  <p>Selecciona impacto ambiental</p>
                    <mat-select  (ngModelChange)="grafica_pie_elementos($event)" [(ngModel)]="selectedValue" name="food" class="example-margin">
                      <mat-option *ngFor="let food of Impactos_menu" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                </div>
                <div>
                  <p>Elementos constructivos</p>
                  <section class="example-section">
                    <mat-checkbox class="example-margin">Cimentación</mat-checkbox>
                    <mat-checkbox class="example-margin">Muros ext.</mat-checkbox>
                    <mat-checkbox class="example-margin">Estructura</mat-checkbox>
                    <mat-checkbox class="example-margin">Ins. especiales</mat-checkbox>
                    <mat-checkbox class="example-margin">Pisos</mat-checkbox>
                    <mat-checkbox class="example-margin">Techo cubierta</mat-checkbox>
                    <mat-checkbox class="example-margin">Puertas</mat-checkbox>
                    <mat-checkbox class="example-margin">Otros</mat-checkbox>
                    <mat-checkbox class="example-margin">Muros interiores</mat-checkbox>
                    <mat-checkbox class="example-margin">Entrepisos</mat-checkbox>
                    <mat-checkbox class="example-margin">Ventanas </mat-checkbox>
                  </section>
                </div>
                <div>
                  <p>Fases del ciclo de vida</p>
                </div>
              </div>
              <div *ngIf="indicador_elegido">
                <mat-card *ngFor="let item of outproyect_bar; let i = index" class="card-indicador">
                  <div class="elementos-seccionUno">
                    <div class="Botones">
                      <div>
                        <a>{{item.Nombre}}</a>
                        <p>Dispersión del impacto ambiental <br> por fases del ciclo de vida</p>
                      </div>
                      <button mat-icon-button>Exportar<mat-icon>camera_rear</mat-icon></button>
                    </div>
                    <div>
                      <app-pie-chart [id]="indicador_impacto" [showMe_elementos]="proyectosMostrados_elementos[i].showpie" [inputProyect]="outproyect_bar" [Bandera_resultado]="bandera_resultado" (ClickEvent)="configurarDatos($event, item.id)" [proyecto]="item.id" [bandera_click]="0"></app-pie-chart>
                      <app-bar-chart-simple [showGr]="proyectosMostrados_elementos[i].showbar" (ClickEvent)="configurarDatos($event, item.id)" [idProyect]="item.id"></app-bar-chart-simple>
                    </div>
                    <div class="Botones">
                      <div>
                      </div>
                      <div>
                        <mat-radio-group>
                          <mat-button-toggle class="button-impactos" (click)="change_graph(1,item.id)"><mat-icon class="icons-options">pie_chart</mat-icon></mat-button-toggle>
                          <mat-button-toggle class="button-impactos" (click)="change_graph(2,item.id)" ><mat-icon class="icons-options">bar_chart</mat-icon></mat-button-toggle>
                        </mat-radio-group>
                      </div>
                    </div>
                  </div>
                  <div class="elementos-seccionDos">
                    <p>Dispersión del impacto en fase del cico de vida<br> por impactos elementos constructivos</p>
                    <div *ngIf="proyectosMostrados_elementos[i].showciclo">
                      <app-pie-chart [id]="proyectosMostrados_elementos[i].ciclo" [showMe_elementos]="proyectosMostrados_elementos[i].showciclo" (ClickEvent)="configurarData($event, item.id)" [Bandera_resultado]="3" [proyecto]="item.id" [bandera_click]="1"></app-pie-chart>
                    </div>
                  </div>
                  <div>
                    <p>Dispersión del impacto en cimentación</p>
                    <div *ngIf="proyectosMostrados_elementos[i].showcimenta">
                      <app-bar-chart-simple [ciclo]="proyectosMostrados_elementos[i].ciclo" [elemento]="proyectosMostrados_elementos[i].elemento" [showGr]="false" [idProyect]="item.id" [showlastGr]="proyectosMostrados_elementos[i].showcimenta" ></app-bar-chart-simple>
                      <a>materiales</a>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
            -->
        </mat-tab>
      </mat-tab-group>
  </mat-card>
</div>
