
<div class="principal-container">
  <div class="content-container">
      <div class="content-header-container">
      <div class="title-standard-second">
          comparar
      </div>
      <div class="filter-options">
      </div>
      </div>
      <div>
        <button mat-stroked-button class="button-grafica" (click)="flag(1)">Pie</button>
        <button mat-stroked-button class="button-grafica" (click)="flag(2)">Radar</button>
      </div>
      <div class="div-principal">
      <ul class="ul-botones">
        <li> <button mat-stroked-button class="button-grafica" (click)="grafica(1)">
          <mat-icon class="uno">visibility_off</mat-icon>Producción</button>
        </li>
        <li> <button mat-stroked-button class="button-grafica" (click)="grafica(2)">
          <mat-icon class="dos">visibility_off</mat-icon>Construcción</button> </li>
        <li> <button mat-stroked-button class="button-grafica" (click)="grafica(3)">
          <mat-icon class="tres">visibility_off</mat-icon>Uso</button> </li>
        <li> <button mat-stroked-button class="button-grafica" (click)="grafica(4)">
          <mat-icon class="cuatro">visibility_off</mat-icon>Fin de vida</button> </li>
      </ul>
      </div>
  </div>
  <div>
    <app-pie-chart [showMePartially]="showVar"></app-pie-chart>
    <app-radial-chart [showMe]="showVar_1"></app-radial-chart>
  </div>
</div>
