

.mat-master {
  width: 940px;
}

.container-principal-tab {
  width: 940px;
}
.campo-grafica-bar {
  margin: auto;
  width: 810px;
  height: auto;
}

.tabla{
  padding: 10px;
}

.Tabla-Datos {
  border-collapse: collapse;
  text-align: center;
  font-size: 12px;
  width: 795px;
  overflow: auto;

  th {
    padding-left: 15px;
  }

  tr {
    white-space: nowrap;

    & td {
      padding-left: 16px;
      font-size: 1.2em;
      padding-top: 15px;
      padding-right: 16px;
    }
  }
}

.sectionOne {
  color: #92be00;
  padding: 0px;
  
  a.return-proyecto{
    font-size: 12px;
  }

  a.tittle-proyect {
    font-size: 20px;
    color: #343434;
    opacity: 1;
  }

  mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    color: #92be00;
    font-size: 15px;
  }
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: 12px;
}

.div-proyectos-mostrados {
  display: inline-grid;
  grid-template-columns: 250px auto;
  margin-bottom: 15px;
  .menu-proyectos {
    background-color: #ffffff;
    border: 2px solid;
    border-radius: 10px;
    border-color: #cbcbcb;
    opacity: 1;
    letter-spacing: 0px;
    color: #767676;
    opacity: 1;
    font-size: 12px;
    width: 237px;
    height: 35px;
    text-align: left;
    mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
      color: #767676;
      padding: 0px;
    }
  }

}
.button-graph {
  display: inline-block;
  margin-right: 10px;
  .card.datos{
    height: auto;
  }
  .card {
    background-color: #e2dddd;
    margin-right: 0;
    padding: 0;
    padding-left: 11px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #343434;
    opacity: 1;
    height: 33px;
    border-radius: 9px;
    mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
      color: #343434;
      padding: 0px;
      margin: 0px;
      border: 0px;
    }
  }
}

ng-template {
  letter-spacing: 0px;
  color: #343434;
  opacity: 1;
  font-size: 12px;
}

.div-impactos-ambientales {
  margin: 20px;
  p {
    letter-spacing: 0px;
    color: #343434;
    opacity: 1;
    font-size: 12px;
  }
  .icons-options {
    font-size: 15px;
    padding-top: 9px;
  }

  .sub-container {
    font-size: 15px;
    display: inline-grid;
    grid-template-columns: 122px 122px 122px;
    .button-impactos {
      width: 47px !important;
      height: 32px !important;
    }
    
  }
  
  mat-button-toggle {
    flex: 1 1 100%;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    display: flex;
  }
  
}

.secondary-text {
  letter-spacing: 0px;
  color: #343434;
  opacity: 1;
  font-size: 12px;
  margin-top: 52px;
}

.div-secondary-graph {
  display: inline-grid;
  grid-template-columns: 161px auto;


  p {
    letter-spacing: 0px;
    color: #343434;
    opacity: 1;
    font-size: 13px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
    display: flex;
  }

  .boton-principal {
    margin-left: 8px;
    text-align: left;
    background-color: #efefefc7;
    border: none;
    width: 99px;
    height: 39px;
    font-size: 12px;
    color: #767676;
  }

  .boton-icono {
    background: #efefef;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    padding: 1px;
  }

  mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    color: #ffffff;
    font-size: 14px;
    border-radius: 0px 10px 10px 0px;
    height: 39px;
    margin-left: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.1px;
  }
}

p.text-duplicados {
  font-size: 12px;
  letter-spacing: 0px;
  padding-top: 21px;
  color: #767676;
  opacity: 1;
}

.uno {
  background: #4dbe89;
}

.dos {
  background: #148a93;
}

.tres {
  background: #8f5091;
}

.cuatro {
  background: #dea961;
}
.div-elementos-constructivos {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  height: 150px;
  > div {
    &:nth-child(1) {
      width: 240px;
      p{
        padding-left: 20px;
      }
    }
    &:nth-child(2) {
      width: 393px;
      p{
        padding-left: 50px;
      }
    }
    &:nth-child(3) {
      width: 350px;
      p{
        padding-left: 50px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
      }
      li {
        display: flex;
        padding-bottom: 5px;
      }    
      .button-info {
        border-radius: 10px 0px 0px 10px;
        width: 99px;
        height: 39px;
        background: #efefef;
        border: 0px;
      }
    
      .button-info-select {
        border-radius: 10px 0px 0px 10px;
        width: 102px;
        height: 39px;
        background: #ffffff;
      }

      mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
        color: #ffffff;
        font-size: 14px;
        border-radius: 0px 10px 10px 0px;
        height: 39px;
        margin-left: 0px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.1px;
      }
      .button-icon {
        width: 19px;
        height: 39px;
        background: #efefef;
        border-radius: 0px 10px 10px 0px;
        border: 0px;
        padding: 1px;
      }
    
      .some-text {
        float: left;
        text-align: left;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: 12px;
        font-size: 11px;
        letter-spacing: 0px;
        color: #767676;
        opacity: 1;
      }
    }
  }

  p {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  
  .select-impacto-ambiental {
    width: 221px;
    height: 37px;
    color: #707070;
    font-size: 12px;
    background: #ffffff;
    border-color: #cbcbcb;
    border-style: solid;
    border-radius: 10px;
    opacity: 1;
  }
}

.boton-ojito-select{
  border-radius: 50%;
  padding: 0px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
  }
}

.boton-select{
  width: 117px;
  height: 39px;
  margin-left: 8px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  border-color: #FFFFFF;
}

.div-second-tab {
  width: 85%;
  margin: auto;
  p {
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 15px;
    margin-top: 35px;
  }

  .botones-elementos-contructivos {
    display:inline-flex;
    justify-content: space-between;
    .espacio-sin-selecciomar{
      //padding-top: 4px;
      width: 144px;
      height: 34px;
      background: #EFEFEF;
      border-radius: 4px;
      font-size: 15px;
      display: flex;
      align-items: center;
      margin: 5px;
      border: 0;
      .color-texto{
        color: #767676;
      }
    }

    .espacio-seleccionado{
      //padding-top: 4px;
      width: 144px;
      height: 34px;
      background: #FFFFFF;
      border-radius: 4px;
      font-size: 15px;
      display: flex;
      align-items: center;
      //margin: 5px;
      border: 1px solid #EDC903;
      box-shadow: 0px 3px 6px #00000029;
      .color-texto{
        color: #343434;
      }
    }

    .button-elemento-seleccionado {
      //padding-top: 4px;
      width: 130px;
      height: 34px;
      //color: #767676;
      background: none;
      text-align: left;
      font-size: 13px;
      //margin: 5px;
      border: 0;
    }
    .button-icono{
      width: 34px;
      height: 34px;
      background: none;
      text-align: left;
      border-radius: 50%;
      padding: 0px;
      border: none;
      mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
        color: #aca8a8;
        padding: 0px;
        border-radius: 50%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .button-icono-seleccionado{
      width: 34px;
      height: 34px;
      background: none;
      text-align: left;
      border-radius: 50%;
      padding: 0px;
      border: none;
      mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
        color: #aca8a8;
        padding: 0px;
        border-radius: 50%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.img-edificio {
  display: inline-block;
  margin-top: 40px;
  margin-left: 52px;
  margin-bottom: 50px;
  position: relative;
  button{
    width: 144px;
    height: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 13px;
    margin: 5px;
    border: 0;
  }
  /*img {
    margin: 0px;
    padding: 0px;
    border: 0;
    border-radius: 11px;
    opacity: 0.5;
    width: 295px;
    height: 232px;
  }
  .cuadro-color{
    margin: 0px;
    padding: 0px;
    background-color: black;
    border: 0;
    border-radius: 11px;
    opacity: 1;
    position:absolute;
  }*/
}

.img-edificio-seleccionado {
  display: inline-block;
  margin-top: 50px;
  margin-left: 52px;
  margin-bottom: 40px;
  button{
    width: 144px;
    height:auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 13px;
    margin: 5px;
    border: 1px solid #EDC903;
    border-radius: 11px;
    box-shadow: 0px 3px 6px #00000029;
  }
  /*img {
    margin: 0px;
    padding: 0px;
    border: 1px solid #EDC903;
    border-radius: 11px;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    width: 295px;
    height: 232px;
  }*/
}


.last-div-section-two {
  display: inline-block;
  .button-graph{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-left: 56px;
    margin-right: 56px;

    mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
      font-size: 20px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2px;
    }
  }
  .seccion{
    display: flex;
    > div {
      &:nth-child(1) {
        width: 450px;
      }
      &:nth-child(2) {
        width: 478px;
      }
    }
  }

  .circulo-color-tabla{
    height: 24px;
    width: 29px;
    border-radius: 50%;
    padding-top: 7px;
  }

  .graficas-dispercion{
    width: 300px;
  }

  p {
    font-size: 15px;
    letter-spacing: 0px;
    color: #343434;
    opacity: 1;
  }

  .mat-column-no {
    width: 32px;
    padding-right: 24px;
    text-align: center;
    color: #767676;
  }

  .mat-column-porcentaje {
    width: 32px;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
    color: #767676;
  }

  .mat-column-numero {
    width: 40px;
    padding-right: 6px;
    padding-left: 6px;
    text-align: center;
    color: #767676;
  }

  .mat-column-material{
    color: #767676;
  }
  
}

seccion-ciclo {
  display: inline-block;
}
Fases-ciclo {
  display: inline-block;
  column-gap: 0px;
  height: 20px;
}

.icon-fases {
  width: 28px;
  border-radius: 0px 10px 10px 0px;
  opacity: 1;
  color: #ffffff;
  text-align: center;
}
.card-fases {
  width: 40px;
  font-family: normal normal normal;
  font-size: 10px;
  background: #efefef;
}

mat-select {
  width: 218px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #cbcbcb;
  opacity: 1;
}
.example-section {
  display: grid;
  grid-template-columns: 110px 110px 110px;
  column-gap: 10px;
  row-gap: 5px;
  align-content: center;
  align-items: center;
  height: 100px;
  text-align: left;
  font-size: 10px;
  letter-spacing: 0px;
  color: #767676;
  opacity: 1;
}
.example-margin {
  margin: 0 10px;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #a8d024 !important;
}