.div-elementos-constructivos {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    height: 150px;
    > div {
      &:nth-child(1) {
        width: 240px;
        p {
          padding-left: 20px;
        }
      }
      &:nth-child(2) {
        width: 393px;
        p {
          padding-left: 50px;
        }
      }
      &:nth-child(3) {
        width: 350px;
        p {
          padding-left: 50px;
        }
        ul {
          list-style-type: none;
          padding: 0;
          display: flex;
          justify-content: space-evenly;
        }
        li {
          display: flex;
          padding-bottom: 5px;
        }
        .button-info {
          border-radius: 10px 0px 0px 10px;
          width: 99px;
          height: 39px;
          background: #efefef;
          border: 0px;
        }
  
        .button-info-select {
          border-radius: 10px 0px 0px 10px;
          width: 102px;
          height: 39px;
          background: #ffffff;
        }
  
        mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
          color: #ffffff;
          font-size: 14px;
          border-radius: 0px 10px 10px 0px;
          height: 39px;
          margin-left: 0px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-top: 0.1px;
        }
        .button-icon {
          width: 19px;
          height: 39px;
          background: #efefef;
          border-radius: 0px 10px 10px 0px;
          border: 0px;
          padding: 1px;
        }
  
        .some-text {
          float: left;
          text-align: left;
          display: grid;
          grid-template-columns: repeat(1, auto);
          grid-template-rows: 12px;
          font-size: 11px;
          letter-spacing: 0px;
          color: #767676;
          opacity: 1;
        }
      }
    }
  
    p {
      text-align: left;
      font-size: 12px;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
    }
  
    .select-impacto-ambiental {
      width: 221px;
      height: 37px;
      color: #707070;
      font-size: 12px;
      background: #ffffff;
      border-color: #cbcbcb;
      border-style: solid;
      border-radius: 10px;
      opacity: 1;
    }
}

