<div class="row">
  <div class="side">

  </div>
  <div class="main">
    <section class="form-login">
      <form [formGroup]="form" (ngSubmit)="login($event)">
        <div class="title-context-login">
          Iniciar sesión
        </div>
        <div class="container-label-input">
          <div class="label-context-login">
            Correo electrónico
          </div>
          <div>
            <input
              class="input-context-login"
              placeholder="Coloca aquí tu correo electrónico"
              formControlName="email"
              matInput type="email"
            >
          </div>
        </div>
        <div class="container-label-input">
          <div class="label-context-login">
            Contraseña
          </div>
          <div>
            <input
              class="input-context-login"
              placeholder="Coloca aquí tu contraseña"
              formControlName="password"
              matInput type="password"
            >
          </div>
        </div>
        <div class="container-label-button">
          <button
            [disabled]="form.invalid"
            mat-raised-button
            type="submit"
            class="yellow-button-login"
          >
            Accede aquí
          </button>
        </div>
        <div class="container-label-button">
          <p class="p-context-login">
            ¿Aún no tienes cuenta? <a href="/auth/register">Regístrate aquí</a>
          </p>
        </div>
      </form>
    </section>
  </div>
</div>
