
body {
  margin: 0!important;
  padding: 0!important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-left: 0%;
}

.main {
  flex: 50%;
  background-color: #FFF;
  justify-content: flex-start;
}

section.form-login {
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 20%;
  height: 70%;
}

.title-context-login {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 5px;
  width: fit-content;
  border-bottom: 5px solid #EDC903;
}

.input-context-login {
  border: 0px;
  height: 32px;
  width: 100%;
  font-size: 14px;
  outline: none;
  padding-left: 16px;
  background-color: #EDEDED;
  border-radius: 5px;
}

.container-label-input {
  margin-top: 20px;
}

.label-context-login {
  color: #767676;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.container-label-button-second {
  margin-top: 10px;
  text-align: center;
}

.container-label-button {
  margin-top: 50px;
  text-align: center;
}

.yellow-button-login {
  background-color: #EDC903;
  width: 50%;
  text-transform: uppercase;
  font-size: 18px;
}

.p-context-login {
  color: #ACA8A8;
  font-size: 16px;
}

.p-context-login a {
  color: #A8D024;
  padding-bottom: 3px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid;
}

.logos-ibero {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 50%;
  font-size: 10px;
  background-color: #EDEDED;
  color: #767676;
  text-align: center;
  display: flex;
  padding: 6px 0;

  .middle-message {
    width: 50%;
    text-align: right;
    margin-right: 16px;
  }

  .phone {
    padding-right: 6px;
    border-right: 2px solid #767676;
  }

  .cr {
    padding: 0 6px;
    border-right: 2px solid #767676;
  }

  .ap {
    text-align: left;
    padding-left: 6px;
  }
}

.redirect-get-password {
  color: #A8D024;
  padding-bottom: 3px;
  text-decoration: none;
  font-weight: bold;
}
