<form [formGroup]="form" (ngSubmit)="login($event)">
  <div class="title-standard">
    Iniciar sesión
  </div>
  <mat-card class="card-standard">
    <mat-card-content class="card-content-standard">
      <div class="row">
        <div class="col-xs">
          <div class="common-label"> 
            email 
          </div>
          <div>
            <input
              class="common-input" 
              placeholder="email" 
              formControlName="email" 
              matInput type="email"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <div class="common-label"> 
            password
          </div>
          <div>
            <input
              class="common-input"  
              placeholder="password" 
              formControlName="password" 
              matInput type="password"
            >
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</form>