<h1>Usuarios de EVAMED</h1>

<div>
  <button mat-raised-button color="primary" (click)="goToAdmin()">
    Regresar a Administrador
  </button>
</div>

<div>
  EVAMED cuenta con {{counter}} usuarios
</div>
<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="institution">
    <th mat-header-cell *matHeaderCellDef> Institución </th>
    <td mat-cell *matCellDef="let element"> {{element.institution}} </td>
  </ng-container>

  <ng-container matColumnDef="sector">
    <th mat-header-cell *matHeaderCellDef> Sector </th>
    <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> País </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>