<mat-card>
  <mat-card-title>Administradores disponibles</mat-card-title>
  <mat-card-actions align="end" class="listado">
    <a (click)="goToMaterials()">Materiales</a>
    <a (click)="goToTransports()">Transportes</a>
    <a (click)="goToMachinery()">Maquinaria</a>
    <a (click)="goToEnergy()">Tipo de energía</a>
    <hr>
    <a (click)="goToUnits()">Unidades</a>
    <a (click)="goToDBMaterials()">Bases de datos</a>
    <a (click)="goToPotentials()">Potencial de impacto ambiental</a>
    <hr>
    <a (click)="goToHome()" class="red">Regresar al Home</a>
  </mat-card-actions>
</mat-card>
