<mat-card>
  <mat-card-title>Administradores disponibles</mat-card-title>
  <mat-card-actions align="end" class="listado">
    <a href="./admin-materials" target="_blank">Materiales</a>
    <a href="./admin-transports" target="_blank">Transportes</a>
    <a href="./admin-machinery" target="_blank">Maquinaria</a>
    <a href="./admin-energy" target="_blank">Tipo de energía</a>
    <hr>
    <a href="./admin-units" target="_blank">Unidades</a>
    <a href="./admin-db-materials" target="_blank">Bases de datos</a>
    <a href="./admin-potential" target="_blank">Potencial de impacto ambiental</a>
  </mat-card-actions>
</mat-card>
