<div class="principal_img" (click) = "seleccionIMG()">
    <div class="imagen">
      <div class="elemento">
        <canvas #canvasTecho>
        </canvas>
      </div>
      <div class="elemento">
        <canvas #canvasEntrepiso>
        </canvas>
      </div>
      <div class="elemento">
        <canvas #canvasEstructura>
        </canvas>
      </div>
      <div class="elemento">
        <canvas #canvasCimentacion>
        </canvas>
      </div>
      <div class="elemento">
        <canvas #canvasLosas>
        </canvas>
      </div>
      <div class="elemento">
        <canvas #canvasMurosExteriores>
        </canvas>
      </div>
      <div class="elemento">
        <canvas #canvasMurosInteriores>
        </canvas>
      </div>
      <div class="elemento">
        <canvas #canvasPiso>
        </canvas>
      </div>
      <div class="elemento">
        <canvas #canvasPuertas>
        </canvas>
      </div>
      <div class="elemento">
        <canvas #canvasVentanas>
        </canvas>
      </div>
    </div>
</div>