.linea{
    display: grid;
}

.principal_img{
    display: block;
    margin-right: 24px;
    height: 200px;
    width: 300px;
}

.imagen{
    position:relative;
}

.elemento{
    position: absolute;
}