<form [formGroup]="form" (ngSubmit)="updatePotential($event)">
  <div class="header-modal">
    <h1 mat-dialog-title class="title-standard-second-light">
      Editar potencial de impacto ambiental
    </h1>
    <a (click)="onNoClick()" class="close-modal">
      X
    </a>
  </div>

  <div mat-dialog-content>
    <mat-card  class="custom-card">

      <mat-card-content>
        <div class="Row">
          <div class="Col">
            <mat-form-field appearance="outline">
              <mat-select placeholder="Potencial de impacto ambiental" formControlName="potential_type_id" >
                <mat-option *ngFor="let potential of ListPotential" [value]="potential.id">
                  {{ potential.name_complete_potential_type }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['potential_type_id'].hasError('required')">
                Potencial es un campo <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      
      <mat-card-content>
        <div class="Row">
          <div class="Col">
            <mat-form-field  appearance="outline" >
              <input matInput placeholder="Valor" formControlName="value">
              <mat-error *ngIf="form.controls['value'].hasError('required')">
                El valor es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      
    </mat-card>
  </div>

  <div mat-dialog-actions class="center">
    <button mat-raised-button color="primary" type="submit">Editar</button>
  </div>
</form>