<form [formGroup]="form" (ngSubmit)="addEnergy($event)">
  <div class="header-modal">
    <h1 mat-dialog-title class="title-standard-second-light">
      Agregar tipo de energía
    </h1>
    <a (click)="onNoClick()" class="close-modal">
      X
    </a>
  </div>

  <div mat-dialog-content>
    <mat-card  class="custom-card">
      <mat-card-content>
        <div class="Row">
          <div class="Col">
            <mat-form-field  appearance="outline" >
              <input matInput placeholder="Tipo de energía" formControlName="name_type_energy">
              <mat-error *ngIf="form.controls['name_type_energy'].hasError('required')">
                Tipo de energía es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div mat-dialog-actions class="center">
    <button mat-raised-button color="primary" type="submit">Agregar</button>
  </div>
</form>