@import '~@angular/material/theming';
body[_ngcontent-hey-c1]{margin:0!important;padding:0!important}
.row[_ngcontent-hey-c1]{display:flex;flex-wrap:wrap;width:100%;height:100%;margin-left:0}
.main[_ngcontent-hey-c1]{flex:50%;background-color:#fff;justify-content:flex-start}
section.form-login[_ngcontent-hey-c1]{margin-left:15%;margin-right:20%;margin-top:20%;height:70%}
.title-context-login[_ngcontent-hey-c1]{
  font-size:26px;font-weight:700;padding-bottom:5px;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;border-bottom:5px solid #edc903}
.input-context-login[_ngcontent-hey-c1]
{border:0;height:32px;width:100%;font-size:14px;outline:none;padding-left:16px;background-color:#ededed;border-radius:5px}
[_ngcontent-hey-c1]::-moz-placeholder{color:#cbcbcb!important}[_ngcontent-hey-c1]::placeholder{color:#cbcbcb!important}
.container-label-input[_ngcontent-hey-c1]{margin-top:20px}.label-context-login[_ngcontent-hey-c1]
{color:#767676;font-weight:700;font-size:16px;margin-top:10px;margin-bottom:8px}
.container-label-button-second[_ngcontent-hey-c1]{margin-top:10px;text-align:center}
.container-label-button[_ngcontent-hey-c1]{margin-top:50px;text-align:center}
.yellow-button-login[_ngcontent-hey-c1]{background-color:#edc903;width:50%;text-transform:uppercase;font-size:16px}
.p-context-login[_ngcontent-hey-c1]{color:#aca8a8;font-size:16px}
.p-context-login[_ngcontent-hey-c1]   a[_ngcontent-hey-c1]{color:#a8d024;padding-bottom:3px;text-decoration:none;font-weight:700;border-bottom:2px solid}
.logos-ibero[_ngcontent-hey-c1]{left:0%;bottom:0;width:100%;font-size:10px;background-color:#ffffff;color:#767676;text-align:center;display:flex;padding:6px 0}
.logos-ibero[_ngcontent-hey-c1]  
.middle-message[_ngcontent-hey-c1]{width:30%;text-align:left;margin-right:16px}.logos-ibero[_ngcontent-hey-c1]  
.phone[_ngcontent-hey-c1]{padding-right:6px;border-right:2px solid #ffffff}.logos-ibero[_ngcontent-hey-c1]  
.img-footer[_ngcontent-hey-c1]{margin-left:50px;padding-right:6px;border-right:2px solid #ffffff}.logos-ibero[_ngcontent-hey-c1] 
.cr[_ngcontent-hey-c1]{padding:0 6px;border-right:2px solid #ffffff}.logos-ibero[_ngcontent-hey-c1] 
.ap[_ngcontent-hey-c1]{text-align:left;padding-left:6px}.redirect-get-password[_ngcontent-hey-c1]
{color:#a8d024;padding-bottom:3px;text-decoration:none;font-weight:700}
