<footer>
  <div _ngcontent-hey-c1="" class="logos-ibero">
    <div _ngcontent-hey-c1=""  class="img-footer">
        <img src="../../../../assets/relevants/DAUIC_Horizontal_Color.jpg"  style="height:68px"/>
      </div>
    <div _ngcontent-hey-c1="" class="middle-message">
      Departamento de arquitectura, urbanismo e ingenieria civil
      <br _ngcontent-hey-c1=""> 
      Universidad Iberoamericana
      <br _ngcontent-hey-c1=""> 
      Prolongación Paseo de la reforma No. 880 Col. Lomas Altas
      <br _ngcontent-hey-c1=""> 
      Del. Álvaro Obregón 
    </div>
    <div _ngcontent-hey-c1="" class="phone"> 
      <br _ngcontent-hey-c1="">
      evamed@ibero.mx
       <br _ngcontent-hey-c1=""> 
       +(55)5950-4000 Ext. 7736
    </div>
    <div _ngcontent-hey-c1="" class="cr"> 
     <br _ngcontent-hey-c1="">
      Aviso de privacidad  </div><div _ngcontent-hey-c1="" class="ap">
    <br _ngcontent-hey-c1="">
    Términos y condiciones 
    </div>
  </div>
</footer>
