.landing {
  padding: 4% 18%
}

.return a {
  color: #EDC903;
  font-weight: 500;
  font-size: 24px;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: 18px;
  margin: 12px 0;
}

h2 {
  font-size: 14px;
  margin: 8px 0;
  font-weight: 500;
}

p {
  font-size: 14px;
  margin: 14px 0;
}

img {
  display: block;
  margin: 34px auto;
  width: 50%;
}

.incisos {
  list-style-type: upper-alpha;
  font-size: 14px;
}

.numeros {
  list-style-type: decimal;
  font-size: 14px;
}

li {
  font-size: 14px;
}

.imgs {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.sm-img-1 {
  width: 160px;
}

.sm-img-2 {
  width: 240px;
  height: fit-content;
}

img.sm-img-3 {
  width: 240px;
  height: fit-content;
}

img.ibero {
  
}