<h1>Administrador de Base de datos de materiales</h1>

<div>
  <button mat-button class="yellow-button" (click)="addDBMaterials($event)">
    Agregar base de datos
  </button>
  <button  mat-raised-button color="primary" (click)="goToAdmin()">
    Regresar a Administrador
  </button>
</div>

<table mat-table [dataSource]="dataBases" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre de base de datos </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> 
      <button mat-raised-button (click)="updateDbMaterials($event, element.id)">Editar</button>
      <button mat-raised-button color="warn" (click)="deleteDbMaterials($event, element.id)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

