
<nav class="nav-redirect">
  <h2 class="proyecto-title">Hospital infantil Lomas altas</h2>
  <a href="/" class="a-redirect"> < Regresar a proyectos </a>
</nav>
<div class="principal-container container-total">
  <nav class="nav-steps">

  </nav>
  <section class="container-actions">

    <section class="container-sheets">
      <div class="list-elements">
        <mat-selection-list
          #sheets
          [multiple]="false"
          (selectionChange)="onGroupsChange(sheets.selectedOptions.selected)"
        >
          <mat-list-option
            *ngFor="let sheet of sheetNames"
            [value]="sheet"
          >
            {{sheet}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </section>

    <section class="container-systems">
      <!--Accorion multiple-->
      <mat-accordion class="example-headers-align" multi>
        <!--Expansion panel 1. -->
        <mat-expansion-panel *ngIf="indexSheet!==undefined">
          <!--Expansion panel header-->
          <mat-expansion-panel-header>
            <mat-panel-title>
              1. Energía consumida durante el proceso constructivo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--Expansion panel form-field-->
          <div *ngFor="let data of dataArrayEC; let i=index;">
            <div class="Row top-0">
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Cantidad
                </label>
                <mat-form-field>
                  <input
                    class="input-general"
                    [(ngModel)]="data.cantidad"
                    name="cantidad_{{i}}"
                    matInput 
                    type="number"
                  >
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Unidad funcional
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="data.unidad" name="fuente{{i}}">
                    <mat-option *ngFor="let unidad of catalogoUnidadEnergia" [value]="unidad.id">
                      {{unidad.name_energy_unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Fuente
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="data.fuente" name="fuente{{i}}">
                    <mat-option *ngFor="let fuente of catalogoFuentes" [value]="fuente.id">
                      {{fuente.name_source_information}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <div *ngIf="i!=0">
                  <button
                    mat-button
                    class="button-remove"
                    (click)="removeFormEC(i)"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--Actions-->
          <button
            mat-button
            (click)="addFormEC()"
          >
            Add
          </button>

          <button
            mat-button
            (click)="onSaveEC()"
          >
            Guardar
          </button>
        </mat-expansion-panel>
        
        <!--Expansion panel 2. -->
        <mat-expansion-panel *ngIf="indexSheet!==undefined">
          <!--Expansion panel header-->
          <mat-expansion-panel-header>
            <mat-panel-title>
              2. Agua consumida durante el proceso constructivo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--Expansion panel form-field-->
          <div *ngFor="let data of dataArrayAC; let i=index;">
            <div class="Row top-0">
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Cantidad
                </label>
                <mat-form-field>
                  <input
                    class="input-general"
                    [(ngModel)]="data.cantidad"
                    name="cantidad{{i}}"
                    matInput 
                    type="number"
                  >
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Unidad funcional
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="data.unidad" name="fuente{{i}}">
                    <mat-option *ngFor="let unidad of catalogoUnidadVolumen" [value]="unidad.id">
                      {{unidad.name_volume_unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Fuente
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="data.fuente" name="fuente{{i}}">
                    <mat-option *ngFor="let fuente of catalogoFuentes" [value]="fuente.id">
                      {{fuente.name_source_information}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <div *ngIf="i!=0">
                  <button
                    mat-button
                    class="button-remove"
                    (click)="removeFormAC(i)"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--Actions-->
          <button
            mat-button
            (click)="addFormAC()"
          >
            Add
          </button>

          <button
            mat-button
            (click)="onSaveAC()"
          >
            Guardar
          </button>
        </mat-expansion-panel>
      
        <!--Expansion panel 3. -->
        <mat-expansion-panel *ngIf="indexSheet!==undefined">
          <!--Expansion panel header-->
          <mat-expansion-panel-header>
            <mat-panel-title>
              3. Desechos generados durante el proceso constructivo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--Expansion panel form-field-->
          <div *ngFor="let data of dataArrayDG; let i=index;">
            <div class="Row top-0">
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Cantidad
                </label>
                <mat-form-field>
                  <input
                    class="input-general"
                    [(ngModel)]="data.cantidad"
                    name="cantidad{{i}}"
                    matInput 
                    type="number"
                  >
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Unidad funcional
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="data.unidad" name="fuente{{i}}">
                    <mat-option *ngFor="let unidad of catalogoUnidadVolumen" [value]="unidad.id">
                      {{unidad.name_volume_unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Fuente
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="data.fuente" name="fuente{{i}}">
                    <mat-option *ngFor="let fuente of catalogoFuentes" [value]="fuente.id">
                      {{fuente.name_source_information}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <div *ngIf="i!=0">
                  <button
                    mat-button
                    class="button-remove"
                    (click)="removeFormDG(i)"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--Actions-->
          <button
            mat-button
            (click)="addFormDG()"
          >
            Add
          </button>

          <button
            mat-button
            (click)="onSaveDG()"
          >
            Guardar
          </button>
        </mat-expansion-panel>

      </mat-accordion>

    </section>

    <section class="container-details">

    </section>
  </section>
</div>
