<nav class="nav-redirect">
  <h2 class="proyecto-title">Hospital infantil Lomas altas</h2>
  <a href="/" class="a-redirect"> < Regresar a proyectos </a>
</nav>
<div class="principal-container container-total">
  <nav class="nav-steps">

  </nav>
  <section class="container-actions">
    <section class="container-sheets">
      <div class="list-elements">
        <mat-selection-list
          #sheets
          [multiple]="false"
          (selectionChange)="onGroupsChange(sheets.selectedOptions.selected)"
        >
          <mat-list-option
            *ngFor="let sheet of sheetNames"
            [value]="sheet"
          >
            {{sheet}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </section>
    <section class="container-systems">

      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenSecond = true"
          (closed)="panelOpenSecond = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              1. Energía consumida durante el proceso constructivo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>data</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenThird = true"
          (closed)="panelOpenThird = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              2. Agua consumida durante el proceso constructivo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>data</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenThird = true"
          (closed)="panelOpenThird = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              3. Desechos generados durante el proceso constructivo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>data</p>
        </mat-expansion-panel>
      </mat-accordion>

    </section>
    <section class="container-details">

    </section>
  </section>
</div>
