<nav class="nav-redirect">
  <h2 class="proyecto-title">{{nameProject}}</h2>
  <a href="/" class="a-redirect">
    < Regresar a proyectos </a>
</nav>
<!--Principal container-->
<div class="principal-container container-total">
  <!--Navigation steps-->
  <nav class="nav-steps">
    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step step-one-selected">
        <div class="mdl-stepper-circle" (click)="goToMaterialStage()"></div>
        <div class="mdl-stepper-tag"> Producción </div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step step-two">
        <div class="mdl-stepper-circle"></div>
        <div class="mdl-stepper-tag" aux-yellow> Construcción </div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step step-three">
        <div class="mdl-stepper-circle" (click)="goToUsageStage()"></div>
        <div class="mdl-stepper-tag"> Uso </div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step step-four">
        <div class="mdl-stepper-circle"  (click)="goToEndLife()"></div>
        <div class="mdl-stepper-tag "> Fin de vida </div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
    </div>
  </nav>
  <!--Container actions of step 1-->
  <section class="container-actions">
    <!--Section sheets-->
    <section class="container-sheets">
      <div class="container-image" [ngSwitch]="selectedSheet">
        <img *ngSwitchCase="'Cimentación'" src="../../../../assets/map/2.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Muros interiores'" src="../../../../assets/map/8.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Muros exteriores'" src="../../../../assets/map/9.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Pisos'" src="../../../../assets/map/7.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Techos'" src="../../../../assets/map/5.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Entrepiso'" src="../../../../assets/map/7.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Estructura'" src="../../../../assets/map/11.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Puertas'" src="../../../../assets/map/6.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Ventanas'" src="../../../../assets/map/4.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Inst. especiales'" src="../../../../assets/map/13.jpg" class="image-element" alt="" />
        <img *ngSwitchCase="'Otros'" src="../../../../assets/map/14.jpg" class="image-element" alt="" />
        <img *ngSwitchDefault src="../../../../assets/map/12.jpg" class="image-element" alt="" />
      </div>
      <div class="list-elements">
        <mat-selection-list #sheets [multiple]="false"
          (selectionChange)="onGroupsChange(sheets.selectedOptions.selected)">
          <mat-list-option *ngFor="let sheet of sheetNames" [value]="sheet" class="item-yellow-extend">
            {{sheet}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </section>

    <section class="container-systems">
      <!--Accorion multiple-->
      <mat-accordion class="example-headers-align" multi>
        <!--Expansion panel 1. -->
        <mat-expansion-panel *ngIf="indexSheet!==undefined" [expanded]="true">
          <!--Expansion panel header-->
          <mat-expansion-panel-header class="custom-expansion-panel-header">
            <mat-panel-title class="custom-mat-panel-title">
              1. Energía consumida durante el proceso constructivo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--Expansion panel form-field-->
          <div *ngFor="let data of dataArrayEC; let i=index;">
            <div class="Col col-xs-12">
                <label class="label-small-input">
                  Fuente
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select [(ngModel)]="data.fuente" name="fuente{{i}}">
                    <mat-option *ngFor="let fuente of catalogoFuentes" [value]="fuente.id">
                      {{fuente.name_source_information}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            <div class="Row top-0">
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Cantidad
                </label>
                <mat-form-field>
                  <input class="input-general" [(ngModel)]="data.cantidad" name="cantidad_{{i}}" matInput type="number">
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Unidad
                </label>
                <mat-form-field appearance="outline">
                <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="data.unidad" style="display:none" name="fuente{{i}}">
                    <mat-option *ngFor="let unidad of catalogoUnidadEnergia" [value]="unidad.id">
                    </mat-option>
                  </mat-select>
                  <mat-option *ngFor="let unidad of catalogoUnidadEnergia" [value]="unidad.id">
                      {{unidad.name_energy_unit}}
                    </mat-option>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <div *ngIf="i!=0">
                  <button mat-button class="button-remove" (click)="removeFormEC(i)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--Actions-->
          <button mat-button (click)="addFormEC()">
            <mat-icon>add_circle</mat-icon>
          </button>

          <button mat-button (click)="onSaveEC()">
            <mat-icon>save</mat-icon>
          </button>
        </mat-expansion-panel>

        <!--Expansion panel 2. -->
        <mat-expansion-panel *ngIf="indexSheet!==undefined">
          <!--Expansion panel header-->
          <mat-expansion-panel-header class="custom-expansion-panel-header">
            <mat-panel-title class="custom-mat-panel-title">
              2. Agua consumida durante el proceso constructivo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--Expansion panel form-field-->
          <div *ngFor="let data of dataArrayAC; let i=index;">
            <div class="Row top-0">
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Fuente
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select [(ngModel)]="data.fuente" name="fuente{{i}}">
                    <mat-option *ngFor="let fuente of catalogoFuentes" [value]="fuente.id">
                      {{fuente.name_source_information}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Cantidad
                </label>
                <mat-form-field>
                  <input class="input-general" [(ngModel)]="data.cantidad" name="cantidad{{i}}" matInput type="number">
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Unidad
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select [(ngModel)]="data.unidad" name="fuente{{i}}">
                    <mat-option *ngFor="let unidad of catalogoUnidadVolumen" [value]="unidad.id">
                      {{unidad.name_volume_unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <div *ngIf="i!=0">
                  <button mat-button class="button-remove" (click)="removeFormAC(i)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--Actions-->
          <button mat-button (click)="addFormAC()">
            <mat-icon>add_circle</mat-icon>
          </button>

          <button mat-button (click)="onSaveAC()">
            <mat-icon>save</mat-icon>
          </button>
        </mat-expansion-panel>

        <!--Expansion panel 3. -->
        <mat-expansion-panel *ngIf="indexSheet!==undefined">
          <!--Expansion panel header-->
          <mat-expansion-panel-header class="custom-expansion-panel-header">
            <mat-panel-title class="custom-mat-panel-title">
              3. Desechos generados durante el proceso constructivo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--Expansion panel form-field-->
          <div *ngFor="let data of dataArrayDG; let i=index;">
            <div class="Row top-0">
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Fuente
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select [(ngModel)]="data.fuente" name="fuente{{i}}">
                    <mat-option *ngFor="let fuente of catalogoFuentes" [value]="fuente.id">
                      {{fuente.name_source_information}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Cantidad
                </label>
                <mat-form-field>
                  <input class="input-general" [(ngModel)]="data.cantidad" name="cantidad{{i}}" matInput type="number">
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <label class="label-small-input">
                  Unidad
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select [(ngModel)]="data.unidad" name="fuente{{i}}">
                    <mat-option *ngFor="let unidad of catalogoUnidadVolumen" [value]="unidad.id">
                      {{unidad.name_volume_unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="Col col-small-space">
                <div *ngIf="i!=0">
                  <button mat-button class="button-remove" (click)="removeFormDG(i)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--Actions-->
          <button mat-button (click)="addFormDG()">
            <mat-icon>add_circle</mat-icon>
          </button>

          <button mat-button (click)="onSaveDG()">
            <mat-icon>save</mat-icon>
          </button>
        </mat-expansion-panel>

      </mat-accordion>

    </section>

    <section class="container-details">

    </section>
  </section>
</div>

<!--Section continue-->
<div class="section-continue">
  <button mat-button class="yellow-button" (click)="saveStepTwo()">
    Continuar
  </button>
</div>
