.principal-container.container-total {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  display: grid;
  margin-top: 8px;
}

nav.nav-steps {
  height: 5rem;
  border-bottom: 1px solid #cbcbcb;
}

.space-row {
  width: 100%;
  height: 1.5rem;
}

section.container-actions {
  width: 100%;
  display: flex;
  height: 27rem;
}

p.p-instrucciones {
  color: #767676;
  font-size: 14px;
}

.hidden {
  color: #fff;
}

.left {
  text-align: initial;
  margin-left: 2rem;
}

.container-elements {
  text-align: center;
}

.container-sheets {
  width: 20%;
  border-right: 1px solid #cbcbcb;
  padding: 40px;
}

.container-systems {
  width: 80%;
  border-right: 1px solid #cbcbcb;
  padding: 40px;
  overflow: auto;
  position: relative;

  h1 {
    font-size: 14px;
    font-weight: 700;
  }
  p {
    font-size: 12px;
    color: #767676;
    font-weight: 500;
  }
}

.list-elements {
  width: 100%;
  overflow: auto;
  height: 100%;
}

.custom-global-data {
  h1 {
    font-size: 14px;
    font-weight: 700;
  }
  p {
    font-size: 12px;
    color: #767676;
    font-weight: 500;
  }
}

.custom-inputs-data {
  display: flex;

  div {
    width: 45%;
    margin: 10px;
  }
}

.container-values {
  margin: 20px;
}

.custom-expansion-panel-header {
  background-color: #fff !important;
  height: 60px !important;
}

.custom-mat-panel-title {
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  border-bottom: 2px solid #cbcbcb;
  box-shadow: none;
}
.mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.container-selected {
  margin: 20px 80px;
}

.container-radios {
  display: flex !important;
  justify-content: space-around !important;
  width: 100% !important;
}

/**Stepers**/
.mdl-stepper-horizontal-alternative {
  display: table;
  width: 95%;
  margin-top: 10px !important;
}

.aux-yellow {
  color: #edc903 !important;
}

.mdl-stepper-tag {
  position: absolute;
  margin-top: -50px;
  margin-left: 160px;
  font-weight: 600;
  color: #767676;
  width: 100%;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
  display: table-cell;
  position: relative;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
  border-radius: 15% / 75%;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mdl-stepper-horizontal-alternative
  .mdl-stepper-step:first-child
  .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative
  .mdl-stepper-step:last-child
  .mdl-stepper-bar-right {
  display: none;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-circle {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-color: #9e9e9e;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  font-size: 12px;
  color: white;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title {
  margin-top: 4px;
  font-size: 14px;
  font-weight: normal;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
  text-align: center;
  color: #000;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
  font-size: 10px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
  position: absolute;
  top: 30px;
  height: 1px;
  border-top: 1px solid #bdbdbd;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
  right: 0;
  left: 50%;
  margin-left: 35px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left {
  left: 0;
  right: 50%;
  margin-right: 35px;
}

/**Custom stepper**/
div.step-one-selected div.mdl-stepper-circle {
  background: url("./../../../../assets/images/Etapas/Produccion_.png")
    no-repeat 50% 50%;
  width: 60px !important;
  height: 60px !important;
}

div.step-two div.mdl-stepper-circle {
  background-color: #cbcbcb !important;
  background: url("./../../../../assets/images/Etapas/Construcción_.png")
    no-repeat 50% 50%;
  width: 60px !important;
  height: 60px !important;
}

div.step-three div.mdl-stepper-circle {
  background-color: #cbcbcb !important;
  background: url("./../../../../assets/images/Etapas/Uso.png") no-repeat 50%
    50%;
  width: 60px !important;
  height: 60px !important;
}

div.step-four div.mdl-stepper-circle {
  background-color: #cbcbcb !important;
  background: url("./../../../../assets/images/Etapas/fin.png") no-repeat 50%
    50%;
  width: 60px !important;
  height: 60px !important;
}

.mdl-stepper-circle {
  &:hover {
    cursor: pointer;
  }
}

.container-options-3 {
  position: absolute;
}

.Tab-container {
  margin-left: 15%;
  width: 70%;
}

.Col.principal {
  width: 230px;
}

.Col.secundary {
  width: 100px;
}

.container-options-3 {
  width: 600px;
}
