.info {
  text-align: center;
}

mat-icon.custom-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
  font-size: 50px;
  color: #A8D024;
  margin-left: -20px;
}

.text {
  font-size: 16px;
  font-weight: 600;
  margin: 18px;
  color: #767676;
}