<nav class="nav-redirect">
  <h2 class="proyecto-title">{{nameProject}}</h2>
  <a href="/" class="a-redirect"> < Regresar a proyectos </a>
</nav>
<!--Principal container-->
<div class="principal-container container-total">
  <!--Navigation steps-->
  <nav class="nav-steps">

  </nav>
  <!--Container actions of step 3-->
  <section class="container-actions">
    <!--Section 1, consumo anual requerido-->
    <section class="container-sheets">
      <div class="custom-global-data">
        <h3>1. Consumo anual requerido</h3>
        <p>
          Indica el consumo energético para la cimentización del inmueble
        </p>
      </div>
      <div class="custom-inputs-data">
        <div>
          <label class="label-small-input">
            Cantidad
          </label>
          <mat-form-field>
            <input
              class="input-general"
              [(ngModel)]="cantidad"
              name="cantidad"
              matInput 
              type="text"
            >
          </mat-form-field>
        </div>
        <div>
          <label class="label-small-input">
            Unidad
          </label>
          <mat-form-field appearance="outline">
            <mat-label>Seleccione una opción</mat-label>
            <!-- <mat-select  [(ngModel)]="unidad" name="fuente"> -->
            <mat-select name="fuente">
              <mat-option *ngFor="let unidad of catalogoUnidadEnergia" [value]="unidad.id">
                {{unidad.name_energy_unit}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </section>
    <!--Section 2, fuentes de consumo eléctrico-->
    <section class="container-systems">
      <div>
        <h3> 2. Fuentes de consumo eléctrico </h3>
        <p>
          Indica las fuentes del suministro de consumo para la simentación
        </p>
      </div>
      <div>
        <!--Mix electrico-->
        <mat-accordion class="container-accordion">
          <mat-expansion-panel
            class="custom-expansion-panel"
            (opened)="panelOpenFirst = true"
            (closed)="panelOpenFirst = false"
          >
            <mat-expansion-panel-header class="custom-expansion-panel-header">
              <mat-panel-title class="custom-mat-panel-title">
                Mix eléctrico
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="Row top-0">
              <div class="Col">
                <label class="label-small-input">
                  Tipo
                </label>
                <mat-form-field appearance="outline" class="custom-formField">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="tipoMixElectrico" name="fuente">
                    <mat-option *ngFor="let tipo of catalogoTipoEnergia" [value]="tipo.id">
                      {{tipo.name_type_energy}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="Row top-0">
              <div class="Col">
                <mat-radio-group
                  [(ngModel)]="selectedPreference"
                  class="container-radius"
                >
                  <mat-radio-button *ngFor="let preference of preferences" [value]="preference">
                    {{preference}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="Row top-0">
              <div class="Col">
                <label class="label-small-input">
                  Cantidad
                </label>
                <mat-form-field>
                  <input
                    class="input-general"
                    [(ngModel)]="cantidadMixElectrico"
                    name="cantidad"
                    matInput 
                    type="text"
                   >
                </mat-form-field>
              </div>
              
              <div class="Col">
                <label class="label-small-input">
                  Unidad
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="unidadMixElectrico" name="fuente">
                    <mat-option *ngFor="let unidad of catalogoUnidadEnergia" [value]="unidad.id">
                      {{unidad.name_energy_unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>    

            <div class="Row top-0">
              <div class="Col">
                <label class="label-small-input">
                  Porcentaje
                </label>
                <mat-form-field>
                  <input
                    class="input-general"
                    [(ngModel)]="porcentajeMixElectrico"
                    name="cantidad"
                    matInput 
                    type="text"
                  >
                </mat-form-field>
              </div>
            </div>
            
          </mat-expansion-panel>
        </mat-accordion>
         <!--Combustible-->
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenSecond = true"
            (closed)="panelOpenSecond = false"
            class="custom-expansion-panel"
          >
            <mat-expansion-panel-header class="custom-expansion-panel-header">
              <mat-panel-title class="custom-mat-panel-title">
                Combustible
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="Row top-0">
              <div class="Col">
                <label class="label-small-input">
                  Tipo
                </label>
                <mat-form-field appearance="outline" class="custom-formField">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="tipoCombustible" name="fuente">
                    <mat-option *ngFor="let tipo of catalogoTipoEnergia" [value]="tipo.id">
                      {{tipo.name_type_energy}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="Row top-0">
              <div class="Col">
                <mat-radio-group
                  [(ngModel)]="selectedPreference"
                  class="container-radius"
                >
                  <mat-radio-button *ngFor="let preference of preferences" [value]="preference">
                    {{preference}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="Row top-0">
              <div class="Col">
                <label class="label-small-input">
                  Cantidad
                </label>
                <mat-form-field>
                  <input
                    class="input-general"
                    [(ngModel)]="cantidadCombustible"
                    name="cantidad"
                    matInput 
                    type="text"
                   >
                </mat-form-field>
              </div>
              
              <div class="Col">
                <label class="label-small-input">
                  Unidad
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="unidadCombustible" name="fuente">
                    <mat-option *ngFor="let unidad of catalogoUnidadEnergia" [value]="unidad.id">
                      {{unidad.name_energy_unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>    

            <div class="Row top-0">
              <div class="Col">
                <label class="label-small-input">
                  Porcentaje
                </label>
                <mat-form-field>
                  <input
                    class="input-general"
                    [(ngModel)]="porcentajeCombustible"
                    name="cantidad"
                    matInput 
                    type="text"
                  >
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
         <!--Páneles fotovoltaicos-->
         <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenThird = true"
            (closed)="panelOpenThird = false"
          >
            <mat-expansion-panel-header class="custom-expansion-panel-header">
              <mat-panel-title class="custom-mat-panel-title">
                Paneles fotovoltaicos
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="Row top-0">
              <div class="Col">
                <label class="label-small-input">
                  Tipo
                </label>
                <mat-form-field appearance="outline" class="custom-formField">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="tipoPanelesFotovoltaicos" name="fuente">
                    <mat-option *ngFor="let tipo of catalogoTipoEnergia" [value]="tipo.id">
                      {{tipo.name_type_energy}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="Row top-0">
              <div class="Col">
                <mat-radio-group
                  [(ngModel)]="selectedPreference"
                  class="container-radius"
                >
                  <mat-radio-button *ngFor="let preference of preferences" [value]="preference">
                    {{preference}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="Row top-0">
              <div class="Col">
                <label class="label-small-input">
                  Cantidad
                </label>
                <mat-form-field>
                  <input
                    class="input-general"
                    [(ngModel)]="cantidadPanelesFotovoltaicos"
                    name="cantidad"
                    matInput 
                    type="text"
                   >
                </mat-form-field>
              </div>
              
              <div class="Col">
                <label class="label-small-input">
                  Unidad
                </label>
                <mat-form-field appearance="outline">
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select  [(ngModel)]="unidadPanelesFotovoltaicos" name="fuente">
                    <mat-option *ngFor="let unidad of catalogoUnidadEnergia" [value]="unidad.id">
                      {{unidad.name_energy_unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>    

            <div class="Row top-0">
              <div class="Col">
                <label class="label-small-input">
                  Porcentaje
                </label>
                <mat-form-field>
                  <input
                    class="input-general"
                    [(ngModel)]="porcentajePanelesFotovoltaicos"
                    name="cantidad"
                    matInput 
                    type="text"
                  >
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </section>
  </section>
</div>

<!--Section continue-->
<div class="section-continue">
  <button
    mat-button
    class="yellow-button"
    (click)="saveStepThree()"
  > 
    Continuar 
  </button>
</div>