/* You can add global styles to this file, and also import other style files */
// body {
//   margin: 0px;
//   padding: 0px;
// }

html,
body {
  height: 100%;
}
body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.container {
  max-width: 65rem !important;
}

/**<Adecuaciones de Input>**/

.label-small-input {
  font-size: 12px;
  font-weight: 500;
  color: #cbcbcb;
}

.input-general {
  height: 32px !important;
  width: 100% !important;
  font-size: 20px !important;
  outline: none !important;
  background-color: #ededed !important;
}

.label-general {
  color: #aca8a8 !important;
  font-size: 12px !important;
  margin-top: 10px !important;
  margin-bottom: -12px !important;
  font-weight: 600;
}

.mat-form-field-label-wrapper {
  display: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent !important;
}

.mat-form-field {
  display: inline !important;
}
/**</Adecuaciones de Input>**/

.example-radio-button {
  .mat-radio-label {
    .mat-radio-container {
      display: none !important;
    }
  }
}

/**<Side inicio>**/

.Row.top-0 {
  margin-top: 0px !important;
}

.side {
  flex: 50%;
  background: transparent url("./assets/images/edificio.png") 0% 0% no-repeat
    padding-box;

  .background-custom {
    /**background: #A8D024 0% 0% no-repeat padding-box!important;**/
    mix-blend-mode: multiply;
    opacity: 1;
    /**display: table;**/
    display: contents;
    width: 100%;
    height: 100%;
  }
}
/**</Side inicio>**/

/**<Title landing>**/
section.part-side {
  background: rgba(168, 208, 36, 0.8);
  height: 100%;
}

img.logo-header {
  height: 68px;
}

.container-title-standard {
  padding-top: 20%;
  padding-left: 20%;
  padding-right: 15%;
  display: flex;
  font-weight: 300;

  .title-header-standard {
    font-weight: bold;
    font-size: 48px;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    margin-top: 10px;
  }

  .subtitle-header-standard {
    font-size: 22px;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    line-height: 90%;
    margin-left: 8px;
    margin-top: 0;
  }
}

.context-evamed {
  margin-top: 60px;
  margin-left: 20%;
  margin-right: 15%;

  .title-context-login {
    color: #ffffff;
    font-size: 40px;
    border-bottom: 5px solid #ffffff !important;
  }

  .text-context {
    margin-top: 20px;
    color: #ffffff;
  }
}
/**<Title landing>**/

/**<Header modal>**/
.header-modal {
  display: flex;
  justify-content: space-between;
  background-color: #a8d024;
  margin: -24px -24px 24px -24px;
  padding: 24px 44px 0px 44px;
}

.close-modal {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  margin-top: -6px;
}
/**<Header modal>**/

/**<Blur open modal>**/
.cdk-overlay-dark-backdrop {
  background: #0a0a0a67 0% 0% no-repeat padding-box !important;
  backdrop-filter: blur(28px) !important;
  pointer-events: none !important;
}

/**</Blur open modal>**/

/**<Col Row genérico>**/
.Row {
  display: flex;
  margin-top: -14px;
}

.Col {
  margin-top: 0px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-small-space {
  width: 23% !important;
}

/**</Col Row genérico>**/

/****/

.select-general {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      height: 34px;
      margin-top: 10px;
    }
  }
}

.mat-select-arrow {
  margin-top: 10px !important;
}

.mat-form-field-infix {
  padding-top: 0px !important;
}
/****/
.center {
  display: flex;
  justify-content: center;
}

.card-standard {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 20px !important;
  margin-top: 14px;
  padding-bottom: 40px !important;
}

.title-standard {
  margin-top: 42px;
  font-size: 26px;
  color: #7fa20b;
}

.common-label {
  color: #aca8a8;
  font-size: 12px;
  margin-top: 10px;
}

.common-input {
  border: 2px solid #cbcbcb;
  border-radius: 10px;
  height: 26px;
  font-size: 14px;
}

.common-input:focus {
  border: 2px solid #7fa20b;
  border-radius: 10px;
  outline: none;
}

.principal-container {
  width: 100%;
  display: flex;
  margin-top: 20px;

  .content-container {
    width: 76%;
  }

  .description-container {
    width: 24%;
    margin-top: 60px;
  }
}

.content-header-container {
  margin-top: 30px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: -5px;
}

.title-standard-second {
  font-size: 26px;
  color: #7fa20b;
  padding-bottom: 5px;
  border-bottom: 4px solid #7fa20b;
  display: inline-table;
}

.filter-options {
  margin-top: -16px;
}

.title-standard-second-light {
  font-size: 30px !important;
  font-weight: 300 !important;
  color: #fff;
}

.user-card {
  text-align: center;

  .image-container {
    margin-top: -70px !important;
    display: block;

    .profile-image {
      background-image: url("./assets/images/perfil.png");
      background-size: cover;
      width: 120px;
      height: 120px;
      margin: 0px auto;
    }
  }

  .content-standard-card {
    margin-top: 32px;
  }
}

.yellow-button {
  background-color: #edc903;
  font-size: 14px;
  width: 180px;
  color: #fff;
}

button.yellow-button.alf.mat-button.mat-button-base {
  width: 30% !important;
}

.melon-button {
  background-color: #ed8484;
  font-size: 14px;
  width: 180px;
  color: #fff;
}

.green-button {
  background-color: #a8d024;
  font-size: 14px;
  width: 180px;
  color: #fff;
}

.min-action {
  width: 300px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 !important;
}

.section-continue {
  margin: 14px 10px;
  text-align: end;
}

.custom-continue {
  width: 150px;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #a8d024;
}

/**Header redirect**/
h2.proyecto-title {
  font-size: 16px;
  margin-bottom: 0px;
}

a.a-redirect {
  text-decoration: none;
  color: #92be00;
}

/**style tabs**/
.tab-title-sections {
  font-size: 12px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  padding-left: 16px;
  border: 1px solid #00000029;

  p {
    margin: 0 !important;
  }
}

mat-expansion-panel-header {
  background-color: #efefef !important;
  height: 32px !important;
}

mat-panel-title.mat-expansion-panel-header-title {
  font-size: 12px;
  font-weight: 500;
  color: #767676;
}

mat-list-option.item-list-option.mat-list-item.mat-list-option.mat-focus-indicator.mat-accent.ng-star-inserted {
  border-bottom: 1px solid #efefef;
  height: 34px !important;
}

mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
  color: #767676;
}

.item-yellow-extend.mat-list-single-selected-option,
.item-yellow-extend.mat-list-single-selected-option:hover,
.item-yellow-extend.mat-list-single-selected-option:focus {
  background-color: #edc903 !important;
  border-radius: 0px 33px 33px 0px !important;
  font-weight: 500 !important;
  width: 180px !important;
  height: 38px !important;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 38px !important;
}

/**inputs**/
mat-option {
  height: 2em !important;
  background-color: #ededed !important;
  border-bottom: 1px solid #fff !important;
}

span.mat-option-text {
  color: #aca8a8 !important;
}

/**css tabs**/
.container-principal-tab {
  .mat-tab-header {
    .mat-tab-label-container {
      .mat-tab-list {
        .mat-tab-labels {
          display: flex !important;
          justify-content: flex-end !important;
        }

        .mat-ink-bar {
          background-color: #e3c500;
        }
      }
    }
  }
}

.container-second-tab {
  .mat-tab-header {
    border-bottom: 0px;

    .mat-tab-label-container {
      .mat-tab-list {
        background-color: #ededed;
        padding-top: 20px;

        .mat-tab-labels {
          display: flex !important;
          justify-content: center !important;

          .mat-tab-label {
            background-color: #ededed;
          }

          .mat-tab-label.mat-tab-label-active {
            background-color: #fff;
          }
        }

        .mat-ink-bar {
          background-color: #fff;
        }
      }
    }
  }
}

.mat-list-single-selected-option {
  .mat-list-item-content {
    .mat-list-text {
      color: #000 !important;
      font-size: 14px !important;
    }
  }
}

.mat-list-item-content {
  .mat-list-text {
    color: #767676 !important;
    font-size: 14px !important;
  }
}

span.mat-checkbox-label {
  font-size: 12px !important;
  color: #767676 !important;
}

.mat-toolbar-multiple-rows {
  min-height: 78px !important;
  align-items: center !important;
}

.input-general-renuew {
  min-height: 32px !important;
  width: 100% !important;
  font-size: 14px !important;
  outline: none !important;
  padding-left: 16px !important;
  background-color: #ededed !important;
  border-radius: 5px;
  border: 2px solid #97969c !important;
}

.width-90 {
  width: 136px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper,
.mat-form-field-wrapper {
  padding-bottom: 0.25em !important;
}

.mat-select-panel {
  max-width: 100% !important;
}

.mat-error {
  display: block;
  margin-top: 14px;
}
