h1 {
  font-size: 22px;
  margin: 12px 0;
}

h2 {
  font-size: 14px;
  margin: 8px 0;
}

p {
  font-size: 18px;
  margin: 18px 0;
}

img {
  display: block;
  margin: 34px auto;
  width: 70%;
}

.incisos {
  list-style-type: upper-alpha;
  font-size: 18px;
}